# Produces dataset of project times from appended pipeline datasets ("all_quarters_merged.csv")

In [20]:
import pandas as pd
import logging
import dateutil
from dateutil import parser
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', 500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
logging.basicConfig(level=logging.INFO)

# Code Broken Down

In [33]:
df = pd.read_csv("cleaned/all_quarters_merged.csv")

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,6,8,12,13,16,17,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,46,48,49,52,53,54,56,61,63,64,65,66,67,68,69,70,72,76,79,80,81,82,83,85,86,87,88,89,90,91,92,93,94,95,100,102,104,105,106,107,108,110,111,112,113,114,117,119,126,129,131,132,133,134,135,136) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
# keep only variables of interest
list = ['address', 'apn', 'best_date', 'best_stat','firstfiled', 'report_quarter', 'report_year', 'units', 'unitsnet', 'dbi_permit', 'x', 'y']
df = df[list]

In [35]:
#consolidate status categories. Start with 3 for now
def status_function(value):
    if value['best_stat']=="CONSTRUCTION":
        field = 'Under Construction'
    elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
        field = 'Building Permit Approved'
    else:
        field = 'Proposed'
    return field
        
df['status']=df.apply(status_function, axis=1)

In [36]:
gb = df.groupby(['apn', 'address'])

In [37]:
gb.groups

{('3726103',
  '119 07TH ST'): Int64Index([21463, 22631, 23930, 26541, 26574, 27974], dtype='int64'),
 ('3648033', '3669-3671 23RD ST'): Int64Index([20791], dtype='int64'),
 ('3730015',
  '1140 FOLSOM ST'): Int64Index([21324, 22610, 23910, 26524, 26748, 28225], dtype='int64'),
 ('1183010',
  '601 BRODERICK ST'): Int64Index([10126, 10909, 11641, 12434, 13102, 14051, 14871, 15739, 16536,
             17836, 18857, 19136, 20724, 21845, 23557],
            dtype='int64'),
 ('0103032',
  '140 JASPER PL'): Int64Index([ 2862,  4097,  4669,  5709,  6346,  7111,  7981,  8707,  8976,
             10217, 10734, 11464, 12438, 12936, 13847, 14701, 15575, 16412],
            dtype='int64'),
 ('6959030',
  '1927 ALEMANY BL'): Int64Index([ 4924,  5387,  6384,  7221,  7793,  8162,  8902, 10231, 10798,
             11519, 12285, 12990, 13899, 14750, 15615, 16456, 17826, 18831,
             19529, 20680, 22026, 22779, 23880, 25514, 26928, 28390],
            dtype='int64'),
 ('6652026',
  '489 30TH ST'): Int64Index([23455, 24784, 26039, 27477, 28892], dtype='int64'),
 ('1640051',
  '327 BALBOA ST'): Int64Index([ 5400,  5897,  6683,  7791,  8166,  8882,  9643, 10385, 11114,
             12060, 13434, 13527, 14558, 15257, 16148, 17260, 18576, 19255,
             20424],
            dtype='int64'),
 ('6630043', '519 29TH ST'): Int64Index([601, 1549, 2294], dtype='int64'),
 ('4167004',
  'HOPE SF POTRERO (REMAINING)'): Int64Index([27849], dtype='int64'),
 ('0676026A', '2033 BUSH ST'): Int64Index([629, 1010], dtype='int64'),
 ('0816003',
  '205 FRANKLIN ST'): Int64Index([906, 1025, 2540, 3289, 3469, 4710, 5351, 5830, 6617, 7492, 8532,
             8966, 9597],
            dtype='int64'),
 ('1758046',
  '1308 04TH AV'): Int64Index([18213, 19601, 20779, 22207, 22680, 23997, 25253, 26763, 28075], dtype='int64'),
 ('3767305',
  '429 BEALE ST'): Int64Index([  715,  1367,  2388,  2609,  3772,  4396,  5597,  6075,  6834,
              7911,  8611,  9069,  9773, 10511, 11254, 12379, 12728, 13657,
             14382, 15394, 16249, 18443, 18992, 20130, 21279, 23401, 24722,
             25979, 27415, 28801],
            dtype='int64'),
 ('5826004',
  '118 BACHE ST'): Int64Index([856, 1482, 2497, 3069, 3881, 4508, 5671, 6161, 6914, 7961, 8683,
             9204, 9825],
            dtype='int64'),
 ('3548001',
  '300 SOUTH VAN NESS AVE'): Int64Index([12068, 13230, 14163, 14982, 15842, 16661], dtype='int64'),
 ('3638088', '3081 22ND ST'): Int64Index([623, 1293, 2316], dtype='int64'),
 ('3709006A',
  '50 FREMONT ST'): Int64Index([21143, 22479, 23469, 24803, 26063, 27486, 28906], dtype='int64'),
 ('3848002', '98 PENNSYLVANIA AV'): Int64Index([20239], dtype='int64'),
 ('6484024',
  '1160 PRAGUE ST'): Int64Index([18181, 19604, 20781, 22223], dtype='int64'),
 ('0498020',
  '2920 FRANKLIN ST'): Int64Index([18088, 19368, 20537, 21775, 23209, 24523, 25768, 27205, 28618], dtype='int64'),
 ('1069045',
  '2882 - 2890 GEARY BL'): Int64Index([23205, 24517, 25762, 27101, 28613], dtype='int64'),
 ('2749050', '4533 20TH ST'): Int64Index([289, 1197], dtype='int64'),
 ('3702053',
  '1169 MARKET ST'): Int64Index([662, 1205, 2349, 2561, 3632, 4319, 5530, 6451, 6732, 7471, 8427], dtype='int64'),
 ('2754052',
  '162 GRAND VIEW AV'): Int64Index([17621, 17979, 19377, 20469, 21717, 22894, 24156, 25415, 26829,
             28203],
            dtype='int64'),
 ('1736011', '1251 14TH AV'): Int64Index([198], dtype='int64'),
 ('2860004',
  '2181 09TH AV'): Int64Index([18196, 19759, 20864, 22183, 23045, 24350, 25580, 27018, 28467], dtype='int64'),
 ('3619026', '3546 22ND ST'): Int64Index([28062], dtype='int64'),
 ('6308005D',
  '549 VISITACION AV'): Int64Index([20593, 21924, 23505, 24854, 26114, 27538, 28957], dtype='int64'),
 ('3600110', '222 CUMBERLAND ST'): Int64Index([52, 1278], dtype='int64'),
 ('3641010C',
  '2782 FOLSOM ST'): Int64Index([15685, 16869, 17218, 18047, 19264, 20414, 21621, 23182, 24497,
             25744, 27194, 28324],
            dtype='int64'),
 ('0867031',
  '457 WALLER ST'): Int64Index([16038, 16877, 17726, 18317, 19800, 20981, 22364, 22810, 24755,
             25189, 27443, 28844],
            dtype='int64'),
 ('0843016',
  '690 PAGE ST'): Int64Index([12167, 13208, 14141, 14959, 15820, 16639, 17206, 18008, 19164,
             20312, 21540, 23617, 24952, 26231],
            dtype='int64'),
 ('0269028',
  '350 BUSH ST'): Int64Index([ 1934,  3264,  3379,  4177,  5143,  5776,  6574,  7321,  8180,
              9476,  9509, 10290, 13461, 14500, 15193, 16088, 17900, 18895,
             19958, 21162, 22431, 23310, 24629, 25881, 27311, 28726],
            dtype='int64'),
 ('5991001',
  '300 - 308 UNIVERSITY ST (BLDG 3 OF 4)'): Int64Index([24533, 25782, 27220], dtype='int64'),
 ('1084010',
  '3575 GEARY BL'): Int64Index([2237, 2597, 3496, 4244, 5422], dtype='int64'),
 ('3611062',
  '658-666 SHOTWELL ST'): Int64Index([ 2553,  3221,  4084,  4914,  5708,  6334,  7099,  7980,  8706,
              8983, 10222, 10739, 11468, 12464, 12941, 13851, 14705, 15579,
             16416, 17815, 18634, 19588, 20693, 21980],
            dtype='int64'),
 ('4211001',
  '1100 POTRERO AV'): Int64Index([12159, 13223, 14156, 14975, 15834, 16654, 17368, 17984, 19307,
             20460, 21365, 22593, 23896, 26506, 27942, 29382],
            dtype='int64'),
 ('3526005', '520 09TH ST'): Int64Index([21541, 23485, 24822], dtype='int64'),
 ('0797019',
  '890 GROVE ST'): Int64Index([ 2925,  4098,  4670,  5621,  6535,  7112,  7954,  8636,  8984,
             10218, 10735, 11465, 12399, 12937, 13848, 14702, 15576, 16413,
             17705, 18148, 19590, 20706, 21954],
            dtype='int64'),
 ('1032003',
  '3333 CALIFORNIA ST'): Int64Index([25841, 27278, 28695], dtype='int64'),
 ('0512025',
  '2353 LOMBARD ST'): Int64Index([ 1692,  2550,  2694,  4116,  4935,  5338,  6415,  7256,  7661,
              8323,  8994,  9942, 10711, 11441, 12036, 12919, 13827, 14686,
             15545, 16385, 17181],
            dtype='int64'),
 ('2609066',
  '100 ALPINE TERRACE'): Int64Index([20842, 22204, 23796], dtype='int64'),
 ('6575001', "CPMC - ST LUKE'S HOSPITAL"): Int64Index([22443], dtype='int64'),
 ('4851017',
  '1313 ARMSTRONG AV'): Int64Index([10949, 11687, 12119, 13138, 14090, 14907, 15657, 16560, 17866,
             18373, 19990, 21175, 22474, 22695, 23999, 25256, 26765, 28077],
            dtype='int64'),
 ('1182012',
  '606 BRODERICK ST'): Int64Index([4684, 5391, 6374, 7211, 7778, 8546, 8897, 10011, 10789], dtype='int64'),
 ('1519022B',
  '3436 ANZA ST'): Int64Index([444, 1104, 1904, 3045, 3536, 4728, 5495], dtype='int64'),
 ('3753114', '953 - 955 FOLSOM ST'): Int64Index([29251], dtype='int64'),
 ('5577004',
  '9 JOY ST'): Int64Index([19705, 20907, 22159, 23720, 25067, 26349, 27787], dtype='int64'),
 ('3077009', '29 SAN ANDREAS WY'): Int64Index([506, 1222], dtype='int64'),
 ('2046040A',
  '227 NORIEGA ST'): Int64Index([  489,  1639,  2157,  3228,  4053,  4902,  5312,  6297,  7047,
              7627,  8303,  9073,  9902, 10669, 11066, 12020, 12895, 13801,
             14659, 15518, 16358, 17691, 18168, 19471, 20747, 21983, 23073,
             24381],
            dtype='int64'),
 ('0647007',
  '1634 - 1690 PINE ST'): Int64Index([21288, 22898, 24161], dtype='int64'),
 ('0814001',
  '150 VAN NESS AVE'): Int64Index([14261, 15091, 15958, 16764, 17034, 17930, 18944, 20074], dtype='int64'),
 ('1789022',
  '1370 35TH AV'): Int64Index([8412, 8782, 10060, 10848, 11585, 12313], dtype='int64'),
 ('1451032',
  '354 20TH AV'): Int64Index([493, 1637, 2343, 3250], dtype='int64'),
 ('3747012',
  '325 FREMONT ST'): Int64Index([   35,  1321,  1783,  2630,  3727,  4829,  4961,  6033,  7158,
              7420,  8012,  9422,  9742, 10487, 11224, 12519, 12643, 13623,
             14352, 15345, 16231, 17078, 17956, 18987, 20126, 21331, 23262,
             24577, 25823, 27263, 28678],
            dtype='int64'),
 ('4010006',
  '575 VERMONT ST'): Int64Index([  814,  1388,  2367,  3231,  3786,  4411,  5549,  6092,  6849,
              7497,  8567,  9353,  9784, 10528, 11272, 12342, 12745],
            dtype='int64'),
 ('1475017A',
  '446 44TH AV'): Int64Index([24739, 25998, 27432, 28823], dtype='int64'),
 ('3904002', '1401 - 1419 BRYANT ST'): Int64Index([28112], dtype='int64'),
 ('1029003',
  '2901 CALIFORNIA ST'): Int64Index([  705,  1049,  2378,  3327,  3489,  4237,  5590,  5844,  6635,
              7511,  8602,  9129,  9614, 10348, 11076, 12373, 13402, 13497,
             14534, 15228, 16124],
            dtype='int64'),
 ('3534018', '41 ROSEMONT PL'): Int64Index([28774], dtype='int64'),
 ('4884025', 'CANDLESTICK POINT'): Int64Index([29271], dtype='int64'),
 ('1844048',
  '413 JUDAH ST'): Int64Index([51, 1714, 1795, 3339, 3584], dtype='int64'),
 ('1533017',
  '473 11TH AV'): Int64Index([  916,  2170,  2989,  3351,  4147,  5318,  5750,  6552,  7633,
              8308,  9044,  9489, 10269, 10962, 12026, 13324, 13437, 14479,
             15170, 16065, 17505, 18192, 19472],
            dtype='int64'),
 ('3754039',
  '1075 FOLSOM ST'): Int64Index([261, 1358, 1982, 2672, 3763, 4388, 5180, 6067, 11250, 11929,
             12721],
            dtype='int64'),
 ('0697037',
  '1333 GOUGH ST / 1481 POST ST'): Int64Index([22707, 24013, 25272, 26634, 28084], dtype='int64'),
 ('2659054',
  '349 CORBETT AV'): Int64Index([13236, 14178, 14992, 15790, 16671, 17561, 18739, 19844, 21091,
             21884, 23302, 24623, 25876, 27305, 28721],
            dtype='int64'),
 ('3738004',
  'TRANSBAY BLOCK 7'): Int64Index([21358, 23798, 25152, 26445, 27878, 29308], dtype='int64'),
 ('0512026',
  '2353 - 2347 LOMBARD ST'): Int64Index([18540, 19086, 20296, 21513, 23095, 24407, 25638], dtype='int64'),
 ('1690032',
  '836 48TH AV'): Int64Index([  132,  1141,  1865,  3016,  3568,  4290,  5044,  5910,  7812,
              8075,  9252,  9634, 10378, 11124, 11794, 12548, 13536, 14300,
             15294, 16964, 17628, 18735, 19500, 20644, 21838, 22829, 25039,
             26320, 27729, 29179],
            dtype='int64'),
 ('5577012',
  '175 BREWSTER ST'): Int64Index([12163, 12801, 13716, 14433, 15453, 16311, 17817, 18673, 19570,
             20732, 21981, 22932, 24191, 25451, 26869, 28286],
            dtype='int64'),
 ('1934023',
  '1698 10TH AV'): Int64Index([  316,  1719,  2023,  3032,  3589,  4755,  5208,  5928,  6709,
              7366,  8217,  9326,  9662, 11140, 11949, 12559, 13545, 14303,
             15301, 16154, 18189, 19517, 20640, 21849, 22915],
            dtype='int64'),
 ('1228005',
  '690 STANYAN ST'): Int64Index([  272,  1075,  1991,  2643,  3509,  4257,  5542,  5862,  6651,
              7502,  8564,  9390, 10163, 10364, 11094, 12340, 13412],
            dtype='int64'),
 ('0201012',
  '8 WASHINGTON STREET'): Int64Index([  920,  2448,  2591,  3354,  4150,  5667,  5753,  6555,  7293,
              8681,  9220,  9492, 10272, 10963, 12353, 13330, 13441, 14482,
             15173, 16069, 17064, 18932, 19103],
            dtype='int64'),
 ('1067009',
  '37 BLAKE ST'): Int64Index([17596, 18190, 19674, 21024, 22101, 23340, 24658, 25912, 27340,
             28742],
            dtype='int64'),
 ('4041009',
  '650 INDIANA ST (BLDG 1 OF 2)'): Int64Index([23598, 24935, 26214, 27640], dtype='int64'),
 ('1614022', '2927 BALBOA ST'): Int64Index([197], dtype='int64'),
 ('3704071',
  '935-965 MARKET ST'): Int64Index([22498, 23742, 25093, 26374], dtype='int64'),
 ('1800010A',
  '1359 45TH AV'): Int64Index([  533,  1151,  2242,  3010,  3577,  4299,  5429,  5919,  6702,
              7452,  8430,  9450,  9656, 10395, 11136],
            dtype='int64'),
 ('1012012',
  '3732 SACRAMENTO ST'): Int64Index([6394, 7232, 7862, 8551], dtype='int64'),
 ('5000001',
  '490 JAMESTOWN AV (BLDG 7)'): Int64Index([23830, 24793, 26048], dtype='int64'),
 ('2040001',
  '1701 09TH AV'): Int64Index([  498,  1161,  2162,  2765,  3594,  4760,  5104,  5932,  7146,
              7884,  8508,  9071,  9665, 10402, 11143, 12250, 12562, 13548,
             14306, 15304, 16156, 17263, 18574, 19220, 20374, 21590, 22921],
            dtype='int64'),
 ('1570003C',
  '641 27TH AV'): Int64Index([371, 1112, 2069, 6672, 7428, 8082, 9233, 10158, 10358, 11104,
             12217, 13425],
            dtype='int64'),
 ('1429029', '266 05TH AV'): Int64Index([549], dtype='int64'),
 ('8709006', '1500 OWENS ST'): Int64Index([430, 1598], dtype='int64'),
 ('2349038',
  '2308 21ST AV'): Int64Index([17572, 18301, 19649, 20828, 22131, 23082, 24391, 25621, 27059,
             28048],
            dtype='int64'),
 ('3776149', '424 BRANNAN ST'): Int64Index([795, 1372, 2359], dtype='int64'),
 ('0165021',
  '235 BROADWAY '): Int64Index([870, 943, 2508, 2648, 3373, 4171, 5628, 5770, 6568, 7692, 9503], dtype='int64'),
 ('0647007',
  '1634 PINE ST'): Int64Index([  758,  1002,  2446,  2581,  3451,  4219,  5637,  5812,  7139,
              7288,  8663,  9479,  9538, 10321, 11010, 12441, 13376],
            dtype='int64'),
 ('3926001', '268 ALABAMA ST'): Int64Index([28587], dtype='int64'),
 ('3754066',
  '1091 FOLSOM ST'): Int64Index([232, 1360, 1955, 2673, 3765, 4390, 5161, 6069, 11252, 11912,
             12723],
            dtype='int64'),
 ('3618023', '879 DOLORES ST'): Int64Index([637], dtype='int64'),
 ('1155005',
  '1500 MCALLISTER ST'): Int64Index([24091, 25356, 26708, 28163], dtype='int64'),
 ('1939001',
  'TREASURE ISLAND / YERBA BUENA ISLAND DEV AREA PLAN'): Int64Index([25154, 26447, 27881], dtype='int64'),
 ('5450020',
  '2775 SAN BRUNO AV'): Int64Index([  455,  1448,  2132,  3111,  3851,  4474,  5291,  6129,  7167,
              7332,  8284,  9125, 10192, 10443, 11300, 12004, 12778, 13516],
            dtype='int64'),
 ('0280011',
  '952 SUTTER ST'): Int64Index([25104, 26387, 27826, 29250], dtype='int64'),
 ('5980003',
  '208 GIRARD ST'): Int64Index([12155, 13197, 14130, 14818, 15809, 16629, 17656, 18273, 19478,
             20643, 21918, 23011, 24298, 25202, 26980, 28439],
            dtype='int64'),
 ('0068008',
  '1016 LOMBARD ST'): Int64Index([160, 929, 1892, 2861, 3361, 4159], dtype='int64'),
 ('0794028',
  '555 FULTON ST'): Int64Index([12160, 13194, 14127, 14815, 15806, 16626, 17072, 18440, 18959,
             20118, 21319, 23513, 24863, 26121, 27548, 28966],
            dtype='int64'),
 ('3931A001', '200 POTRERO AVE'): Int64Index([19951, 21151], dtype='int64'),
 ('0287013',
  '272 SUTTER ST'): Int64Index([17133, 17969, 19037, 20238, 21453, 23173, 24487, 25732], dtype='int64'),
 ('3774071',
  '77 &AMP; 85 FEDERAL STREET'): Int64Index([11721, 12515, 13171, 14106, 14917, 15787, 16604], dtype='int64'),
 ('5577013',
  '29 JOY ST'): Int64Index([  304,  1455,  2013,  3105,  3866,  4488,  5202,  6142,  6897,
              7364,  8209,  9347,  9810, 11313, 11946, 12802, 13717, 14434,
             15454, 16312, 17761, 18064],
            dtype='int64'),
 ('6080027',
  '379 LISBON ST'): Int64Index([16923, 17649, 18830, 19897, 21092, 22340], dtype='int64'),
 ('5654044',
  '1231 CORTLAND AV'): Int64Index([21221, 22459, 22656, 23957, 25181, 26599, 27992], dtype='int64'),
 ('1523046B',
  '5727 GEARY BL'): Int64Index([ 6387,  7225,  7334,  8362,  8873, 10020, 10452, 11538, 12061,
             13009, 13918, 14756, 15624, 16395],
            dtype='int64'),
 ('5617019', '217 VIRGINIA AV'): Int64Index([28461], dtype='int64'),
 ('5334030',
  '2179 QUESADA AV'): Int64Index([23043, 24348, 25523, 27016, 28465], dtype='int64'),
 ('1414061',
  '1888 CLEMENT ST'): Int64Index([21663, 22969, 24233, 25499, 26917, 28376], dtype='int64'),
 ('1194006',
  '137 CLAYTON ST'): Int64Index([24035, 25274, 26626, 28108], dtype='int64'),
 ('3703066',
  '1053 MARKET ST'): Int64Index([16049, 16793, 17880, 18392, 19974, 21205, 22433, 22573, 23875,
             26489, 27920, 29355],
            dtype='int64'),
 ('2014004', '1758 36TH AV'): Int64Index([18285], dtype='int64'),
 ('4094046',
  '923 - 939 KANSAS ST (BLDG 3 OF 5)'): Int64Index([27805], dtype='int64'),
 ('3753096',
  '233 SHIPLEY ST'): Int64Index([15153, 16020, 16834, 17179, 18539], dtype='int64'),
 ('5972040',
  '262 UNIVERSITY ST'): Int64Index([10915, 11689, 12122, 13140, 14092, 14909, 15659, 16562, 17738,
             18853, 19449],
            dtype='int64'),
 ('4008002',
  '540 DE HARO ST'): Int64Index([16948, 17192, 18006, 19100, 20300, 21522, 23502, 24849, 26109,
             27533, 28952],
            dtype='int64'),
 ('3638018',
  '3120 23RD ST'): Int64Index([ 1669,  1926,  3220,  3434,  4641,  6530,  7073,  7642,  8307,
              9053,  9917, 10685, 11429, 12253, 12866],
            dtype='int64'),
 ('3554003A',
  '1924 MISSION ST'): Int64Index([18011, 19158, 20307, 21536, 22778, 24245, 25513, 26927, 28389], dtype='int64'),
 ('0839025',
  '335 OAK ST'): Int64Index([  438,  1033,  2121,  2777,  3476,  4717,  5285,  5837,  6623,
              7766,  8106,  9145,  9603, 10340, 11031, 12234],
            dtype='int64'),
 ('3555036',
  '1785 15TH ST'): Int64Index([10429, 11192, 12111, 12613, 13590, 14323, 15346, 16199, 17229,
             18514, 19202, 20348, 21576, 22945, 24202, 25465, 26881, 28291],
            dtype='int64'),
 ('5513011',
  '1513 YORK ST'): Int64Index([16955, 17486, 18117, 19409, 20570, 21748, 22842, 24101, 25363,
             26716, 28266],
            dtype='int64'),
 ('0250008',
  '1372 PINE ST'): Int64Index([22728, 24024, 25297, 26655, 28110], dtype='int64'),
 ('3521053A',
  '33 NORFOLK ST'): Int64Index([14274, 15104, 15971, 16777, 17233, 18021, 19178, 20326, 21568,
             23268, 24584, 25829, 27267, 28684],
            dtype='int64'),
 ('0836006',
  '1550 MARKET ST'): Int64Index([17964, 18997, 20186], dtype='int64'),
 ('3547001',
  '1800 MISSION ST'): Int64Index([17941, 20010, 21209, 22504, 22949], dtype='int64'),
 ('6171035', '1015 BRUSSELS ST'): Int64Index([29337], dtype='int64'),
 ('5406016',
  '220 WILLIAMS AV'): Int64Index([ 4921,  5384,  6381,  7218,  7673,  8351,  8862, 10228, 10795,
             11516, 12051, 12986, 13896, 14747, 15612, 16453, 17827, 18335,
             19521, 20695, 22029, 23037, 24357, 25588, 27027, 28478],
            dtype='int64'),
 ('1294027',
  '1560 SHRADER ST'): Int64Index([443, 1077, 2125, 2981, 3511, 4259, 5494], dtype='int64'),
 ('3788039',
  '345 BRANNAN ST'): Int64Index([  458,  1377,  2135,  3284,  3777,  4402,  5294,  6081,  6839,
              7326,  8287,  9118,  9779, 10516, 11260, 12007, 12733, 13662,
             14385, 15399, 16253, 17868, 18922, 19977],
            dtype='int64'),
 ('0287014',
  '300 GRANT AV'): Int64Index([321, 22456, 23222, 24539, 25787, 27222, 28638], dtype='int64'),
 ('3938001', '1400 16TH ST'): Int64Index([26668, 28257], dtype='int64'),
 ('1008047',
  '3378 SACRAMENTO ST'): Int64Index([23283, 24603, 25849], dtype='int64'),
 ('5290051',
  '1000 NEWHALL ST'): Int64Index([3134, 4003, 4883, 5353, 6268, 7002, 7777, 8146, 8964, 9985], dtype='int64'),
 ('0303015', '865 POST ST'): Int64Index([763], dtype='int64'),
 ('3996007',
  '694 TENNESSEE ST'): Int64Index([24954, 26233, 27660, 29081], dtype='int64'),
 ('4108017',
  '901 TENNESSEE ST'): Int64Index([21462, 23722, 25071, 26353, 27792, 29212], dtype='int64'),
 ('5677022',
  '324 CORTLAND AV'): Int64Index([358, 1472, 1863, 3067, 3872, 4499, 5474, 6152], dtype='int64'),
 ('3554058', '435 VALENCIA ST'): Int64Index([3673], dtype='int64'),
 ('4005001B',
  '1601 - 1677 MARIPOSA ST / 485 CAROLINA'): Int64Index([28194], dtype='int64'),
 ('0310002',
  '49 KEARNY ST'): Int64Index([276, 960, 1818, 2753, 3386, 4185, 4998, 5784, 6581], dtype='int64'),
 ('6272018',
  '4847 MISSION ST'): Int64Index([  633,  1517,  2321,  3086,  3911,  4538,  5484,  6190,  6937,
              7819,  8490,  9199,  9851, 10600, 11354, 12227, 12821, 13749,
             14456, 15484, 16990, 17529, 18712, 19576, 20718, 22016],
            dtype='int64'),
 ('1279083',
  '31 PARNASSUS AV'): Int64Index([5398, 6349, 7119, 7866, 8548, 8883, 10234, 10801], dtype='int64'),
 ('6943040',
  '1172 PLYMOUTH AV'): Int64Index([17012, 17661, 18711], dtype='int64'),
 ('3116006A',
  '410 HEARST AV'): Int64Index([17722, 17939, 19796, 20861, 22087, 23375], dtype='int64'),

In [87]:
group_df = gb.get_group(('3705039','55 05TH ST'))

In [88]:
group_df = group_df.sort('best_date')
group_df.reset_index(drop=True, inplace=True)

/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [89]:
group_df

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,units,unitsnet,dbi_permit,x,y,status
0,55 05TH ST,3705039,2012-06-20,BP FILED,2012-06-20 00:00:00,2,2012,116.00,8.00,201206202986,37.78,-122.41,Proposed
1,55 05TH ST,3705039,2012-10-26,BP APPROVED,2012-06-20,3,2012,116.00,8.00,201206202986,-122.41,37.78,Building Permit Approved
2,55 05TH ST,3705039,2012-12-12,CONSTRUCTION,2012-06-20,4,2012,116.00,8.00,201206202986,37.78,-122.41,Under Construction

In [ ]:
# identify building permit ID. Then fill in rest of quarters with this permit ID.
building_permit=np.nan
for index, row in group_df.iterrows():
    if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
        building_permit=building_permit
    else:
        building_permit = row['dbi_permit']

In [ ]:
building_permit

In [ ]:
group_df['dbi_permit']=building_permit

In [ ]:
#Identify completion quarter
for index, row in group_df.iterrows():
    if row['best_stat'] !='CONSTRUCTION':
        comp_quarter= np.nan
        comp_year=np.nan
    elif row['best_stat'] == 'CONSTRUCTION':
        comp_quarter = row['report_quarter']
        comp_year = row['report_year']

if pd.isnull(comp_quarter):
    pass
if comp_quarter == 4 and comp_year == 2016:
    comp_quarter = np.nan
elif comp_quarter == 4:
    comp_quarter = 1
    comp_year = 1+comp_year
else:
    comp_quarter = 1+comp_quarter

In [ ]:
if comp_quarter ==1:
    comp_daymth= '01/01'
elif comp_quarter ==2:
    comp_daymth= '04/01'
elif comp_quarter==3:
    comp_daymth= '07/01'
elif comp_quarter == 4:
    comp_daymth= '10/01'
elif pd.isnull(comp_quarter):
    comp_daymth=np.nan
    
if pd.isnull(comp_daymth):
    comp_date = np.nan
else:
    comp_date = comp_daymth + "/" + str(comp_year)

In [ ]:
comp_date

In [ ]:
#Identify earliest "firstfiled" date
firstfiled = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['firstfiled']):
        continue
    else:
        if len(firstfiled) == 0:
            firstfiled = row['firstfiled']
        else:
            continue

In [ ]:
#Identify earliest best date
earliest_BD = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['best_date']):
        continue
    else:
        if len(earliest_BD) == 0:
            earliest_BD = row['best_date']
        else:
            continue

In [ ]:
firstfiled

In [ ]:
earliest_BD

In [ ]:
# Finalize first date variable (minimum of earliest best_date and firstfiled)
if firstfiled =='' and earliest_BD !='':
    first_date = earliest_BD
elif earliest_BD=='' and firstfiled !='':
    first_date = firstfiled
elif firstfiled !='' and earliest_BD !='':
    first_date = min(firstfiled, earliest_BD)

In [ ]:
first_date

In [ ]:
# initiate variables. Groups without these dates are blank for these variables.
BP_date = ''
con_date = ''

#Identify first date for all status categories
m=0
for index, row in group_df.iterrows():
    if m == 0:
        status_previous = 'blah'
    if row['status']=='Building Permit Approved':
        if index == 0:
            BP_date = row['best_date']
        elif index !=0:
            if status_previous =='Building Permit Approved':
                BP_date=BP_date
            else:
                BP_date = row['best_date']
    elif row['status']=='Under Construction':
        if index == 0:
            con_date = row['best_date']
        elif index !=0:
            if status_previous =='Under Construction':
                con_date=con_date
            else:
                con_date = row['best_date']
    status_previous = row['status']
    m=m+1

In [ ]:
print (BP_date, con_date)

In [ ]:
last_row = group_df.tail(1).copy() #most recent row

In [ ]:
last_row

In [ ]:
last_row['latest_project_record_date'] = last_row.best_date
last_row['first_project_record_date'] = group_df.iloc[0].best_date
last_row['latest_project_status'] = last_row.best_stat

In [ ]:
last_row

In [ ]:
## Store a parseable list of all the project states and the dates those states were reported
last_row['project_dates'] = str(tuple(group_df.best_date))
last_row['project_statuses'] = str(tuple(group_df.best_stat))

In [ ]:
last_row

In [ ]:
## Store the project duration in days
latest = last_row.latest_project_record_date.iloc[0]
first = last_row.first_project_record_date.iloc[0]

In [ ]:
if not (pd.isnull(latest) or pd.isnull(first)):
    last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

In [ ]:
last_row

# Actual Code

In [22]:
def convert_to_one_record_per_project(df):
    """
    Group the dataset by (apn, address) and then emit one row per (apn, address) pair.
    best_date and best_stat will be converted into arrays.
    All other attributes will be taken from the record with the most recent `best_date` attribute.
    """
    gb = df.groupby(['apn', 'address'])
    for k in gb.groups:
        group_df = gb.get_group(k)
        group_df = group_df.sort('best_date')
        last_row = group_df.tail(1).copy()
        
        # identify building permit ID. Then fill in rest of quarters with this permit ID.
        building_permit=np.nan
        for index, row in group_df.iterrows():
            if pd.isnull(row['dbi_permit']) and not pd.isnull(building_permit):
                building_permit=building_permit
            else:
                building_permit = row['dbi_permit']
                
        #Identify completion quarter for those projects that have reached completion
        for index, row in group_df.iterrows():
            if row['best_stat'] !='CONSTRUCTION':
                comp_quarter= np.nan
                comp_year=np.nan
            elif row['best_stat'] == 'CONSTRUCTION':
                comp_quarter = row['report_quarter']
                comp_year = row['report_year']

        if pd.isnull(comp_quarter):
            pass
        if comp_quarter == 1 and comp_year == 2016:
            comp_quarter = np.nan
        elif comp_quarter == 4:
            comp_quarter = 1
            comp_year = 1+comp_year
        else:
            comp_quarter = 1+comp_quarter
            
        if comp_quarter ==1:
            comp_daymth= '01/01'
        elif comp_quarter ==2:
            comp_daymth= '04/01'
        elif comp_quarter==3:
            comp_daymth= '07/01'
        elif comp_quarter == 4:
            comp_daymth= '10/01'
        elif pd.isnull(comp_quarter):
            comp_daymth=np.nan

        if pd.isnull(comp_daymth):
            comp_date = np.nan
        else:
            comp_date = comp_daymth + "/" + str(comp_year)
        
        #Identify earliest "firstfiled" date
        firstfiled = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['firstfiled']):
                continue
            else:
                if len(firstfiled) == 0:
                    firstfiled = row['firstfiled']
                else:
                    continue
        
        #Identify earliest best date
        earliest_BD = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['best_date']):
                continue
            else:
                if len(earliest_BD) == 0:
                    earliest_BD = row['best_date']
                else:
                    continue
        
        # Finalize first date variable (minimum of earliest best_date and firstfiled)
        if firstfiled =='' and earliest_BD !='':
            first_date = earliest_BD
        elif earliest_BD=='' and firstfiled !='':
            first_date = firstfiled
        elif firstfiled !='' and earliest_BD !='':
            first_date = min(firstfiled, earliest_BD)
            
        # initiate variables. Groups without these dates are blank for these variables.
        BP_date = ''
        con_date = ''

        #Identify first date for all status categories
        m=0
        for index, row in group_df.iterrows():
            if m == 0:
                status_previous = 'blah'
            if row['status']=='Building Permit Approved':
                if index == 0:
                    BP_date = row['best_date']
                elif index !=0:
                    if status_previous =='Building Permit Approved':
                        BP_date=BP_date
                    else:
                        BP_date = row['best_date']
            elif row['status']=='Under Construction':
                if index == 0:
                    con_date = row['best_date']
                elif index !=0:
                    if status_previous =='Under Construction':
                        con_date=con_date
                    else:
                        con_date = row['best_date']
            status_previous = row['status']
            m=m+1
        
        last_row['dbi_permit']= building_permit
        last_row['comp_date']=comp_date
        last_row['BP_date'] = BP_date
        last_row['con_date'] = con_date
        last_row['first_date']=first_date
        last_row['latest_project_record_date'] = last_row.best_date
        last_row['first_project_record_date'] = group_df.iloc[0].best_date
        last_row['latest_project_status'] = last_row.best_stat

        ## Store a parseable list of all the project states and the dates those states were reported
        last_row['project_dates'] = str(tuple(group_df.best_date))
        last_row['project_statuses'] = str(tuple(group_df.best_stat))

        ## Store the project duration in days
        if not (pd.isnull(comp_date) or pd.isnull(first_date)):
            last_row['project_duration_days'] = (dateutil.parser.parse(comp_date) - dateutil.parser.parse(first_date)).days

        yield last_row


def main():
    df = pd.read_csv("cleaned/all_quarters_merged.csv")
    #consolidate status categories. Start with 3 for now
    def status_function(value):
        if value['best_stat']=="CONSTRUCTION":
            field = 'Under Construction'
        elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
            field = 'Building Permit Approved'
        else:
            field = 'Proposed'
        return field

    df['status']=df.apply(status_function, axis=1)
    
    #keep only variables we want
    list = ['address', 'apn', 'best_date', 'best_stat','status', 'firstfiled', 'report_quarter', 'report_year','units','unitsnet', 'dbi_permit', 'x', 'y']
    df = df[list]
    new_df = pd.concat(convert_to_one_record_per_project(df))
    logging.info("Writing output ({} rows, {} cols) to data/cleaned/all_quarters__one_record_per_project.csv".format(*new_df.shape))
    new_df.to_csv("cleaned/all_quarters__one_record_per_project.csv")
    return new_df

In [23]:
new_df = main()

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2825: DtypeWarning: Columns (1,2,6,8,12,13,16,17,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,46,48,49,52,53,54,56,61,63,64,65,66,67,68,69,70,72,76,79,80,81,82,83,85,86,87,88,89,90,91,92,93,94,95,100,102,104,105,106,107,108,110,111,112,113,114,117,119,126,129,131,132,133,134,135,136) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [24]:
#First, filter out those projects that are exclusively non-residential (defined as those without units)
new_df = new_df[new_df['units'] > 0]

In [25]:
#Next, keep only those that reached completion at some point over the time period
new_df=new_df[pd.notnull(new_df['comp_date'])]

# Explore Duplicate Data

In [26]:
new_df['address_apn']=new_df['address']+new_df['apn']

In [72]:
#Finally, filter out records with duplicate BP Ids
new_df[new_df.duplicated('dbi_permit', keep=False)]['address_apn'].unique()

array(['1169 MARKET ST3702053', '1634 - 1690 PINE ST0647007',
       '718 LONG BRIDGE ST8710004', '1190 MISSION ST3702052',
       '950 CORBETT AV2799083', '55 LAGUNA ST0857001',
       '1340-1390 MISSION ST3508053', '690 MONTEREY BL3094055',
       '950 CORBETT AV2799013', '443 LINDEN ST0818049',
       '1301 INDIANA ST4228010', '47 MOSS ST3731119',
       'TRINITY PLAZA PHASE III3702391', '5800 03RD ST5431A001',
       'HUNTERS POINT SHIPYARD (UNDER CONSTRUCTION)4591C001',
       '1068 GUERRERO ST3632039', '3150 GEARY BL1066028',
       '49 MOSS ST3731119', '650 INDIANA ST4041009',
       '70 DOUGLASS ST2625007A', '2101 & 2155 WEBSTER STREET0629037',
       'HOPE SF ALICE GRIFFITH4884025', 'MISSION BAY BLOCK 6E8711021',
       'HUDSON AVE AND WHITNEY YOUNG CIR4711118', '70 DOUGLASS ST2625032',
       '790 ANDOVER ST5825031', '2500 ARELIOUS WALKER DR4884025',
       '4 OCTAVIA ST0855011', '5800 03RD ST (BUILDING 4)5431A042',
       '1 ECKER ST3708022', 'TRINITY PLAZA3702391',
       '72 TOWNSEND ST3789003', '55 LAGUNA STREET0857001',
       '718 LONG BRIDGE ST8710007', '782-786 ANDOVER ST5825007',
       '1300 04TH ST8711021', 'PARCEL P - MARKET OCTAVIA0831023',
       '218 BUCHANAN ST0857001A', '1076 HAMPSHIRE ST4152045',
       '8 OCTAVIA ST0855011', '1634-1690 PINE ST0647007',
       '1420 MISSION ST3507039', '650 INDIANA ST (BLDG 2 OF 2)4041009',
       '690 MONTEREY BLVD3094055', '1420 MISSION ST3507042',
       '2155 WEBSTER ST0629037', '101 EXECUTIVE PARK BL4991279',
       '145 AMES ST3632038', '746 CAROLINA ST4096005',
       '101 EXECUTIVE PARK BL4991617', '790 ANDOVER ST5825008',
       '1239 TURK ST0757027', '1078 HAMPSHIRE ST4152046',
       '338 CARL ST1265047',
       '800 BROTHERHOOD WAY (UNDER CONSTRUCTION)7331003',
       '72 TOWNSEND ST3789972', '746 CAROLINA ST4096109',
       'HUNTERS VIEW4624031', 'MARKET OCTAVIA - PARCEL P0831023',
       '1100 GOLDEN GATE AV0757025',
       '800 BROTHERHOOD WAY (UNDER CONSTRUCTION)7331005',
       'HUNTERS POINT SHIPYARD PHASE I4591C001', '1400 MISSION ST3507039',
       '782-786 ANDOVER ST5825032', '1100 GOLDEN GATE AV0757028',
       '1301 INDIANA ST4228158', '3150 GEARY BL1066060',
       '1076 HAMPSHIRE ST4152016', '800 BROTHERHOOD7331005',
       'HP SHIPYARD PHASE 1 (UNDER CONSTRUCTION)4591C001',
       '338 CARL ST1265009', '447 LINDEN ST0818048', '1 ECKER ST3708056'], dtype=object)

In [73]:
new_df[new_df['address_apn']=='1634 - 1690 PINE ST0647007']['dbi_permit']

24161   201312184508.00
Name: dbi_permit, dtype: object

In [76]:
# Same project, different address-apn combination—verified by looking at each address in PIM
new_df[new_df['dbi_permit']==201312184508.00]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y,address_apn
24161,,1634 - 1690 PINE ST,0647007,2016-07-01,CONSTRUCTION,07/01/2016,2016-01-14,201312184508.00,2000-11-27,2016-01-14,2000-11-27,2016-07-01,CONSTRUCTION,"('2016-01-14', '2016-03-29', '2016-07-01')",5695.00,"('CONSTRUCTION', 'CONSTRUCTION', 'CONSTRUCTION')",2,2016,Under Construction,260.00,260.00,37.79,-122.42,1634 - 1690 PINE ST0647007
20094,,1634-1690 PINE ST,0647007,2015-10-29,CONSTRUCTION,10/01/2015,2015-07-30,201312184508.00,2000-11-27,2012-07-17,2000-11-27,2015-10-29,CONSTRUCTION,"('2012-07-17', '2012-07-17', '2012-07-17', '20...",5421.00,"('PL FILED', 'PL FILED', 'PL FILED', 'PL FILED...",3,2015,Under Construction,260.00,260.00,37.79,-122.42,1634-1690 PINE ST0647007

In [22]:
#explore duplicated
new_df[new_df['address']=='2155 WEBSTER ST']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
9106,,2155 WEBSTER ST,0629037,2015-03-18,CONSTRUCTION,01/01/2015,2015-03-18,201311222660,2013-11-22,2013-11-22,NaN,2015-03-18,CONSTRUCTION,"('2013-11-22', '2013-11-22', '2013-11-22', '20...",405.0,"('BP FILED', 'BP FILED', 'BP FILED', 'BP FILED...",4,2014,Under Construction,77.0,77.0,37.79057,-122.432337

In [41]:
new_df[new_df['dbi_permit']=='200705010136']

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
11114,,72 TOWNSEND ST,3789972,2015-07-21,CONSTRUCTION,07/01/2015,2015-07-21,200705010136,2015-07-21,2015-07-21,NaN,2015-07-21,CONSTRUCTION,"('2015-07-21',)",-20.0,"('CONSTRUCTION',)",2,2015,Under Construction,74.0,74.0,37.781388,-122.390353

In [36]:
new_df[new_df['project_duration_days']<0]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y
11114,,72 TOWNSEND ST,3789972,2015-07-21,CONSTRUCTION,07/01/2015,2015-07-21,200705010136,2015-07-21,2015-07-21,NaN,2015-07-21,CONSTRUCTION,"('2015-07-21',)",-20.0,"('CONSTRUCTION',)",2,2015,Under Construction,74.0,74.0,37.781388,-122.390353

# Manual Data Cleaning
Based off of identified duplicates in the previous section

In [54]:
#decided that both this and its duplicate BP at 1169 Market Street are two phases of the same project. Same start date, different end dates
new_df.loc[(new_df['address']=='1190 MISSION ST') & (new_df['apn']=='3702052'), 'first_date'] = '2003-07-15'

In [71]:
#this has a duplicate, same address, different APN
new_df=new_df[(new_df['address']!='3575 GEARY BL') | (new_df['apn']=='1084010')]

In [86]:
#same project, happening at different periods
new_df.loc[(new_df['address']=='1634-1690 PINE ST') & (new_df['apn']=='0647007'), 'comp_date']='07/01/2016'
new_df=new_df[(new_df['address']!='1634 - 1690 PINE ST') | (new_df['apn']=='0647007')]

In [85]:
new_df.loc[(new_df['address']=='1634-1690 PINE ST') & (new_df['apn']=='0647007')]

,BP_date,address,apn,best_date,best_stat,comp_date,con_date,dbi_permit,first_date,first_project_record_date,firstfiled,latest_project_record_date,latest_project_status,project_dates,project_duration_days,project_statuses,report_quarter,report_year,status,units,unitsnet,x,y,address_apn
20094,,1634-1690 PINE ST,0647007,2015-10-29,CONSTRUCTION,07/01/2016,2015-07-30,201312184508.00,2000-11-27,2012-07-17,2000-11-27,2015-10-29,CONSTRUCTION,"('2012-07-17', '2012-07-17', '2012-07-17', '20...",5421.00,"('PL FILED', 'PL FILED', 'PL FILED', 'PL FILED...",3,2015,Under Construction,260.00,260.00,37.79,-122.42,1634-1690 PINE ST0647007

In [ ]:
#Be sure to redo project duration after all manual cleaning