# Brian Replication of data_model.py in a python notebook

In [157]:
import pandas as pd
import logging
import dateutil
from dateutil import parser
pd.set_option('display.max_columns', 500)

In [32]:
logging.basicConfig(level=logging.INFO)

# Code Broken Down

In [244]:
df = pd.read_csv("cleaned/all_quarters_merged_TEST.csv")

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,6,12,16,17,21,22,28,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,51,52,53,61,79,88,91,92,93,94,96,97,98,99,100,101,103,113,114,115,116,117,118,119,120,121,122,123,140,142,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [245]:
# keep only variables of interest
list = ['address', 'apn', 'best_date', 'best_stat','firstfiled', 'report_quarter', 'report_year', 'unitsnet', 'dbi_permit', 'x', 'y']
df = df[list]

In [246]:
#consolidate status categories. Start with 3 for now
def status_function(value):
    if value['best_stat']=="CONSTRUCTION":
        field = 'Under Construction'
    elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
        field = 'Building Permit Approved'
    else:
        field = 'Proposed'
    return field
        
df['status']=df.apply(status_function, axis=1)

In [255]:
df.head()
#df[['apn']==4172053]

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,unitsnet,dbi_permit,x,y,status
0,1179 TENNESSEE ST,4172053,2009-11-03,BP REINSTATED,1999-02-11 08:00:00,1,2012,8.0,9902819,37.756751,-122.388969,Building Permit Approved
1,2026 LOMBARD ST,0492025,2007-04-11,BP ISSUED,2002-06-11 07:00:00,1,2012,0.0,200606023107,37.800127,-122.434940,Building Permit Approved
2,580 OAK PARK DR,2676030,2007-11-28,BP ISSUED,2002-12-04 08:00:00,1,2012,1.0,200212042761,37.756322,-122.460196,Building Permit Approved
3,2525 MISSION ST,3615026,2009-08-26,BP ISSUED,2003-02-21 08:00:00,1,2012,0.0,200302218059,37.756561,-122.418695,Building Permit Approved
4,244 GRANADA AV,6942039,2008-10-09,BP ISSUED,2003-03-25 08:00:00,1,2012,1.0,200701051057,37.722873,-122.456990,Building Permit Approved

In [268]:
df['apn'][2118].str.zfill(7)

AttributeError: 'str' object has no attribute 'str'

In [267]:
df[df['address']=='526 HICKORY ST']

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,unitsnet,dbi_permit,x,y,status
2118,526 HICKORY ST,829023,2012-09-20,BP FILED,2012-09-20,3,2012,1.0,2.01209E+11,-122.428274,37.774782,Proposed
2933,526 HICKORY ST,0829023,2012-09-20,BP FILED,2012-09-20,4,2012,1.0,201209200264,37.774782,-122.428274,Proposed
3662,526 HICKORY ST,0829023,2012-09-20,BP FILED,2012-09-20,1,2013,1.0,201209200264,37.774782,-122.428274,Proposed
4091,526 HICKORY ST,0829023,2012-09-20,BP FILED,2012-09-20,2,2013,1.0,201209200264,37.774782,-122.428274,Proposed
5115,526 HICKORY ST,0829023,2012-09-20,BP FILED,2012-09-20,3,2013,1.0,201209200264,37.774782,-122.428274,Proposed
6068,526 HICKORY ST,0829023,2013-11-22,BP ISSUED,2012-09-20,4,2013,1.0,201209200264,37.774782,-122.428274,Building Permit Approved
6889,526 HICKORY ST,0829023,2013-11-22,BP ISSUED,2012-09-20,1,2014,1.0,201209200264,37.774782,-122.428274,Building Permit Approved
7752,526 HICKORY ST,829023,2013-11-22,BP ISSUED,2012-09-20,2,2014,1.0,201209200264,37.774782,-122.428274,Building Permit Approved
8546,526 HICKORY ST,0829023,2014-09-16,CONSTRUCTION,2012-09-20,3,2014,1.0,201209200264,37.774782,-122.428274,Under Construction
9781,526 HICKORY ST,0829023,2015-01-21,CONSTRUCTION,NaN,4,2014,1.0,NaN,37.774782,-122.428274,Under Construction
10874,526 HICKORY ST,829023,2015-01-21,CONSTRUCTION,NaN,1,2015,1.0,NaN,37.774845,-122.428663,Under Construction
11461,526 HICKORY ST,0829040,2015-01-21,CONSTRUCTION,NaN,2,2015,1.0,NaN,37.774845,-122.428663,Under Construction
12741,526 HICKORY ST,0829023,2015-01-21,CONSTRUCTION,2012-09-20,3,2015,1.0,NaN,37.774845,-122.428663,Under Construction
13834,526 HICKORY ST,0829023,2015-01-21,CONSTRUCTION,2012-09-20,4,2015,1.0,NaN,37.774938,-122.428681,Under Construction
15486,526 HICKORY ST,0829023,2015-01-21,CONSTRUCTION,2012-09-20,1,2016,1.0,NaN,37.774938,-122.428681,Under Construction

In [37]:
gb = df.groupby(['apn', 'address'])

In [38]:
gb.groups

{('0642036', '1700 CALIFORNIA ST'): Int64Index([14917], dtype='int64'),
 ('1407017',
  '2500 CLEMENT ST'): Int64Index([3712, 4137, 5162, 5929, 6779, 7778, 8596, 9271, 10056], dtype='int64'),
 ('478003', '2815 POLK ST'): Int64Index([10080], dtype='int64'),
 ('1407046',
  '6423 CALIFORNIA ST'): Int64Index([7677, 8860, 9611, 10267, 11145, 12985, 14373, 15582], dtype='int64'),
 ('0828012',
  '735 FELL ST'): Int64Index([576, 1261, 2334, 3023, 4348, 5388], dtype='int64'),
 ('0811002',
  '101 POLK ST'): Int64Index([772, 2902, 3633, 4484, 5094, 6043, 6864, 8529, 9064, 11104, 12111,
             13309],
            dtype='int64'),
 ('3750082',
  '667 FOLSOM ST 120 HAWTHORNE ST 126 HAWTHORNE ST'): Int64Index([12095, 13289, 15606], dtype='int64'),
 ('0829040', '526 HICKORY ST'): Int64Index([11461], dtype='int64'),
 ('1811001',
  '3701 JUDAH ST'): Int64Index([11746, 13042, 14111, 15340], dtype='int64'),
 ('0937028',
  '2419 2421 &AMP; 2435 LOMBARD ST'): Int64Index([2847, 3666, 4083, 5118, 6071, 6890, 8549], dtype='int64'),
 ('2317016G',
  '2130 SANTIAGO ST'): Int64Index([11783, 12913, 13389, 15027], dtype='int64'),
 ('0744002',
  '807 FRANKLIN ST'): Int64Index([8873, 9123, 11031, 12230, 13448, 15677], dtype='int64'),
 ('1453033',
  '346 22ND AV'): Int64Index([18, 1428, 1618, 2367, 3096, 3744, 5415, 5509, 6292, 7242, 8133,
             9797, 10480],
            dtype='int64'),
 ('4095018',
  '896 DE HARO ST'): Int64Index([  770,  2087,  2885,  3119,  4085,  5081,  6030,  6851,  7722,
              8520,  9442, 10477, 11388, 12497, 13720, 15716],
            dtype='int64'),
 ('0557019',
  '2151 GREEN ST'): Int64Index([468, 1304, 2312, 3003, 4208, 5347], dtype='int64'),
 ('0676009',
  '1834 SUTTER ST'): Int64Index([4514, 5191, 6124, 6812, 8623, 9863, 11936, 13165, 14460, 14957], dtype='int64'),
 ('5513012', '1513 YORK ST'): Int64Index([8954, 9468], dtype='int64'),
 ('3753081',
  '345 06TH ST'): Int64Index([  558,  1411,  1752,  2502,  3246,  3922,  4717,  5648,  6373,
              7268,  8975,  9094, 10463, 11006, 12193, 13352, 15295],
            dtype='int64'),
 ('4045003',
  '2171 THIRD ST'): Int64Index([4174, 5200, 6133, 6938, 7812, 8632, 9084, 9963, 10996], dtype='int64'),
 ('0103032',
  '140 JASPER PL'): Int64Index([705, 974, 2732, 3462, 4436, 4934, 5845, 6699, 8410], dtype='int64'),
 ('3575070',
  '600 SOUTH VAN NESS AV'): Int64Index([5256, 6199, 7012, 7871, 8691, 9162, 10427, 11070, 12282, 13493,
             15552],
            dtype='int64'),
 ('0512026', '2347 LOMBARD ST'): Int64Index([7140, 8821, 9180], dtype='int64'),
 ('4219004',
  '1036 WISCONSIN ST'): Int64Index([  598,  1132,  1799,  2538,  3285,  4369,  4693,  5626,  6599,
              7418,  8275, 10754, 11432, 12593, 14049, 14567],
            dtype='int64'),
 ('0165021',
  '235 BROADWAY'): Int64Index([339, 947, 2281, 2978, 3847, 5343, 5454, 6494, 8082], dtype='int64'),
 ('557019', '2151 GREEN ST'): Int64Index([1533], dtype='int64'),
 ('2023004',
  '1715 26TH AV'): Int64Index([10276, 11633, 12808, 14094, 14921], dtype='int64'),
 ('1706045',
  '4335 LINCOLN WY'): Int64Index([  717,   926,  1991,  2769,  3495,  4470,  4867,  5779,  6730,
              7593,  8434,  9515, 10154, 11097, 12681, 14022],
            dtype='int64'),
 ('3577053',
  '33 DEARBORN ST'): Int64Index([11298, 12450, 13677, 15264], dtype='int64'),
 ('3970006', '1850 BRYANT ST'): Int64Index([14397, 14960], dtype='int64'),
 ('2653016',
  '75 MARS ST'): Int64Index([146, 948, 1979, 2760, 3487, 3846, 4959, 5869, 6722, 7588, 8429,
             9602],
            dtype='int64'),
 ('4912002',
  '2838 JENNINGS ST'): Int64Index([462, 1323, 1559, 4771, 5691, 6404, 7428, 8288, 10786, 11564, 12629,
             13950],
            dtype='int64'),
 ('3733008',
  '250 4TH ST'): Int64Index([  721,   887,  2242,  2809,  3529,  4052,  5001,  5911,  6619,
              7290,  8466,  9052, 10424, 12017, 13059, 14450, 14799],
            dtype='int64'),
 ('5577002',
  '384 HOLLADAY AV'): Int64Index([  591,  1170,  1582,  2562,  3307,  4363,  4795,  5710,  6427,
              7447,  8306, 10422, 11304, 12446, 13659],
            dtype='int64'),
 ('3780001',
  '502 07TH ST'): Int64Index([11056, 12272, 13526, 15474], dtype='int64'),
 ('3753089', '265 SHIPLEY ST'): Int64Index([13565, 15156], dtype='int64'),
 ('0861034',
  '609 HAIGHT ST'): Int64Index([11706, 12937, 14196, 15526], dtype='int64'),
 ('1153020',
  '1823 TURK ST'): Int64Index([6264, 7094, 7961, 8767, 9250, 10543, 11209, 12357, 13581, 14954], dtype='int64'),
 ('5518023', '28 PRECITA AV'): Int64Index([748, 2101, 2898], dtype='int64'),
 ('2081001',
  '3701 NORIEGA ST'): Int64Index([12303, 13531, 15341], dtype='int64'),
 ('0443A017',
  '1767 BEACH ST'): Int64Index([10231, 11621, 12676, 14156, 14937], dtype='int64'),
 ('2901C001', '701 PORTOLA DR'): Int64Index([163, 878], dtype='int64'),
 ('3510028',
  '949 NATOMA ST'): Int64Index([9270, 9970, 11225, 12376, 13599, 15745], dtype='int64'),
 ('1842011',
  '1455 11TH AV'): Int64Index([8890, 9742, 10060, 11921, 13097, 14321, 14759], dtype='int64'),
 ('7277044',
  '189 COUNTRY CLUB DR'): Int64Index([10320, 11791, 12814, 14225, 14968], dtype='int64'),
 ('5475007', '6534 03RD ST'): Int64Index([19, 1424, 2193], dtype='int64'),
 ('4059001A', '815 TENNESSEE ST'): Int64Index([13424, 15683], dtype='int64'),
 ('5513011',
  '1513 YORK ST'): Int64Index([8953, 9484, 10115, 11407, 12568, 13746, 14840], dtype='int64'),
 ('3590014',
  '3324 19TH ST'): Int64Index([7135, 8001, 8816, 9213, 10032, 11224, 12368, 13585, 15275], dtype='int64'),
 ('7537002', '2306 CASTRO ST'): Int64Index([13873, 15079], dtype='int64'),
 ('0816003', '205 FRANKLIN ST'): Int64Index([530, 964], dtype='int64'),
 ('0148022', '859 VALLEJO ST'): Int64Index([13642, 15699], dtype='int64'),
 ('0811003', '103 POLK ST'): Int64Index([5247], dtype='int64'),
 ('3753314',
  '5 SHIPLEY ST / 935 FOLSOM ST / 77 FALMOUTH ST'): Int64Index([15820], dtype='int64'),
 ('0515031',
  '2251 GREENWICH ST'): Int64Index([6258, 7088, 8761, 9810, 11805, 12997, 14244, 15067], dtype='int64'),
 ('1648012',
  '763 05TH AV'): Int64Index([8888, 9401, 10265, 11889, 13111, 14317, 15653], dtype='int64'),
 ('1742043',
  '1266 09TH AV'): Int64Index([103, 1145, 1652, 2391, 3132, 4231, 4549, 5536], dtype='int64'),
 ('5943050',
  '262 MADISON ST'): Int64Index([5298, 5953, 7038, 7910, 8717, 9731, 10834, 13018, 14279, 15149], dtype='int64'),
 ('4094024',
  '946 RHODE ISLAND ST'): Int64Index([ 2945,  3683,  4111,  5134,  6086,  6902,  7652,  8402,  9402,
             10576, 11299, 12443, 13675],
            dtype='int64'),
 ('1615003',
  '727 29TH AV'): Int64Index([143, 963, 1977, 2758, 3485, 4269, 4957, 5867, 6720, 7285, 8427], dtype='int64'),
 ('0145044', '1234 GRANT AVE'): Int64Index([12414], dtype='int64'),
 ('5556019',
  '162 BREWSTER ST'): Int64Index([   42,  1359,  1557,  2548,  3002,  4198,  4765,  5688,  6407,
              7426,  8284,  9717, 10586, 11439, 12596, 13948, 14891],
            dtype='int64'),
 ('2349038',
  '2308 21ST AV'): Int64Index([9570, 10299, 11647, 12826, 14129, 15080], dtype='int64'),
 ('2094005',
  '3223 ORTEGA ST'): Int64Index([  498,  1118,  1664,  2401,  3142,  4235,  4561,  5547,  6305,
              7294,  8155,  9852, 10924, 11943, 13136, 14419],
            dtype='int64'),
 ('5918001',
  '1248 SILVER AV'): Int64Index([  336,   958,  1985,  2764,  3491,  4044,  4938,  5873,  6726,
              7567,  8433,  9496, 10153, 11579, 12688, 13977, 14666],
            dtype='int64'),
 ('0670024',
  '1433 BUSH ST'): Int64Index([  702,  1010,  2710,  3440,  4460,  4918,  5826,  6685,  8384,
              9163, 11074, 12262, 13477, 14743],
            dtype='int64'),
 ('4591C069',
  '198 COLEMAN ST'): Int64Index([5277, 6238, 7035, 7891, 8565, 9208, 10490, 11163, 12313, 13535], dtype='int64'),
 ('0927024',
  '3336 BRODERICK ST'): Int64Index([11613, 12170, 14191, 14801], dtype='int64'),
 ('1877034',
  '1566 32ND AV'): Int64Index([7681, 8865, 9882, 10926, 12020, 13125, 14402, 14872], dtype='int64'),
 ('1156013',
  '1660 MCALLISTER ST'): Int64Index([10382, 11987, 13218, 14520, 14906], dtype='int64'),
 ('3654040',
  '3904 24TH ST'): Int64Index([8046, 8790, 9298, 10313], dtype='int64'),
 ('0192014',
  '835-845 JACKSON ST'): Int64Index([685, 1144, 2269, 2955, 4366, 5326, 5438, 6479, 8065, 9889, 11932,
             13138],
            dtype='int64'),
 ('2619067',
  '22 ORD CT'): Int64Index([6269, 7099, 7966, 8772, 9688, 10256, 11800, 12987, 14237, 15047], dtype='int64'),
 ('4884025',
  '2600 ARELIOUS WALKER DR'): Int64Index([7159, 8029, 8844, 9092, 10450, 11004, 12191, 13350, 15143], dtype='int64'),
 ('4591C032',
  '576 HUDSON AV'): Int64Index([9972, 11166, 12315], dtype='int64'),
 ('1598020',
  '4524 CABRILLO ST'): Int64Index([10268, 11627, 12773, 14213, 15425], dtype='int64'),
 ('4146025',
  '963 ALABAMA ST'): Int64Index([10238, 11619, 12798, 14152, 15753], dtype='int64'),
 ('596024', '1946 POLK ST'): Int64Index([2143], dtype='int64'),
 ('1844040',
  '1424 10TH AV'): Int64Index([6224, 7070, 7938, 8745, 9679], dtype='int64'),
 ('2620018', '126 MUSEUM WY'): Int64Index([676, 1248, 2166], dtype='int64'),
 ('6360001',
  '60 BURR AV'): Int64Index([  137,   979,  1959,  2730,  3461,  3842,  4933,  5844,  6698,
              7572,  8409,  9881, 10882, 11946, 13192, 14514, 15546],
            dtype='int64'),
 ('155021', '1370 PACIFIC AV'): Int64Index([10147], dtype='int64'),
 ('0948029',
  '2855 FILBERT ST'): Int64Index([6262, 7092, 8765, 9708, 11803, 13026, 14241, 15197], dtype='int64'),
 ('3554001',
  '1900 MISSION STREET'): Int64Index([7134, 8000, 8815, 9228, 10015, 11183, 12330], dtype='int64'),
 ('3509005',
  '140 09TH ST'): Int64Index([  171,   850,  2031,  2824,  3548,  4296,  5016,  5926,  6783,
              7630,  8471,  9217, 10571, 11168, 12316],
            dtype='int64'),
 ('6612026',
  '2127 CASTRO ST'): Int64Index([4169, 5224, 6157, 6976, 7835, 8655, 9796, 10776, 11851, 12611,
             13859, 15026],
            dtype='int64'),
 ('0194004',
  '827 KEARNY ST'): Int64Index([12825, 14240, 15687], dtype='int64'),
 ('6996010', '453 RALSTON ST'): Int64Index([13854, 15427], dtype='int64'),
 ('1933024',
  '436 MORAGA ST'): Int64Index([727, 837, 2049, 2696, 3566, 4476, 5032, 5982, 6796], dtype='int64'),
 ('2067002O',
  '1855 30TH AV'): Int64Index([10302, 11635, 12810, 14097, 14961], dtype='int64'),
 ('1402023',
  '3038 CLEMENT ST'): Int64Index([ 2950,  3689,  4116,  5140,  6091,  6908,  7658,  8561,  9260,
             10605, 11221, 12365, 13593, 15231],
            dtype='int64'),
 ('539032', '2231 UNION ST'): Int64Index([2213, 7527, 10879], dtype='int64'),
 ('0103021',
  '146  JASPER PLACE'): Int64Index([9304, 11360, 12508], dtype='int64'),
 ('1144020',
  '2506 MCALLISTER ST'): Int64Index([7145, 8011, 8826, 9487, 10120, 11335, 12466, 13737, 15127], dtype='int64'),
 ('3973002C',
  '480 POTRERO AV'): Int64Index([ 2523,  3267,  4107,  4741,  5668,  6393,  7406,  8258,  9101,
             10493, 11111, 12205, 13416, 15448],
            dtype='int64'),
 ('1265019', '1236 ARGUELLO BL'): Int64Index([13732, 14657], dtype='int64'),
 ('3747019',
  '333 FREMONT ST'): Int64Index([1761, 2501, 3241, 4188, 4712, 5644], dtype='int64'),
 ('0937022', '2477 LOMBARD ST'): Int64Index([13997, 15122], dtype='int64'),
 ('1219018',
  '102 BAKER ST'): Int64Index([9395, 10248, 11660, 12792, 14141, 14554], dtype='int64'),
 ('0691001', '1145 POLK ST'): Int64Index([13439, 14610], dtype='int64'),
 ('3749012',
  '15 GUY PL'): Int64Index([10201, 11677, 12793, 14155, 14774], dtype='int64'),
 ('41001', '2293 POWELL ST'): Int64Index([7687, 10005], dtype='int64'),
 ('2830004', '722 DIAMOND ST'): Int64Index([161, 896, 2004], dtype='int64'),
 ('3725078', '981 MISSION ST - CB3P'): Int64Index([14388], dtype='int64'),
 ('1466009',
  '451 34TH AV'): Int64Index([597, 1133, 1620, 2369, 3098, 4368, 5417, 5512, 6295, 7245, 8136], dtype='int64'),
 ('1857037',
  '715 KIRKHAM ST'): Int64Index([5253, 6195, 7009, 7868, 8688, 9436, 10655, 11352, 12502, 13705,
             15624],
            dtype='int64'),
 ('3548065',
  '1340 NATOMA ST'): Int64Index([233, 753, 1706, 2425, 3188, 3874], dtype='int64'),
 ('1684004L',
  '806 42ND AV'): Int64Index([581, 1196, 1630, 2361, 3120, 4354, 4543], dtype='int64'),
 ('0327011',
  '72 ELLIS ST'): Int64Index([  628,  1001,  2300,  2991,  4392,  5356,  5465,  6505,  8092,
              9841, 12037, 13153, 14422, 15630],
            dtype='int64'),
 ('3740030', 'TRANSBAY BLOCK 1'): Int64Index([13270, 15786], dtype='int64'),
 ('1901001', '3601 LAWTON ST'): Int64Index([15326], dtype='int64'),
 ('6087025',
  '427 LISBON ST'): Int64Index([10340, 11601, 12778, 14220, 15396], dtype='int64'),
 ('0785029', '388 FULTON ST'): Int64Index([9006], dtype='int64'),
 ('1680028',
  '846 38TH AV'): Int64Index([11748, 12935, 14143, 15690], dtype='int64'),
 ('3753075',
  '268 CLARA ST'): Int64Index([10218, 11693, 12901, 14342, 15161], dtype='int64'),
 ('105065', '377 FILBERT ST'): Int64Index([7183, 10108], dtype='int64'),
 ('5864009',
  '931 SILVER AV'): Int64Index([11774, 12882, 14357, 15737], dtype='int64'),
 ('6075005', '439 ATHENS ST'): Int64Index([13911, 15407], dtype='int64'),
 ('2823A016',
  '36 KNOLLVIEW WAY'): Int64Index([8932, 9788, 10626, 11928, 13071, 14120, 15323], dtype='int64'),
 ('3949001', '1200 17TH ST'): Int64Index([13269, 14636], dtype='int64'),
 ('2716056',
  '170-180 YUKON STREET'): Int64Index([473, 1274, 1669, 2409, 3152], dtype='int64'),
 ('3511015',
  '1532 HOWARD ST'): Int64Index([6228, 7073, 7941, 8748, 9197, 10007, 11152, 12302, 13527, 14854], dtype='int64'),
 ('1675016',
  '844 33RD AV'): Int64Index([10199, 11617, 12790, 14222, 15689], dtype='int64'),
 ('6154012',
  '853 GOETTINGEN ST'): Int64Index([455, 1362, 1837, 2587, 3343], dtype='int64'),
 ('4098027',
  '749 WISCONSIN ST'): Int64Index([  218,  1319,  1790,  3253,  3950,  4710,  5676,  6396,  7389,
              8267, 10216, 11453, 12599, 14034, 15639],
            dtype='int64'),
 ('6272030',
  '4801 MISSION ST'): Int64Index([585, 1186, 1850, 2599, 3353, 4358, 4820], dtype='int64'),
 ('5826009', '128 BACHE ST'): Int64Index([3334, 3907, 4665], dtype='int64'),
 ('6356064',
  '1449 SUNNYDALE AV'): Int64Index([3361, 3916, 4828], dtype='int64'),
 ('3701021',
  '1270 MISSION ST'): Int64Index([10950, 12077, 13280, 15814], dtype='int64'),
 ('0150054',
  '1020 BROADWAY'): Int64Index([5441, 6493, 8081, 9259, 11222, 12377, 13582, 14555], dtype='int64'),
 ('0836007',
  '1546 - 1564 MARKET ST'): Int64Index([13337, 14861], dtype='int64'),
 ('4811011', '1350 VAN DYKE AV'): Int64Index([14508, 14716], dtype='int64'),
 ('5826002',
  '104 BACHE ST'): Int64Index([   69,  1263,  1821,  2577,  3329,  3788,  4660,  5727,  6611,
              7465,  8322,  9469, 10667, 11334, 12540, 13808, 14568],
            dtype='int64'),
 ('5450020',
  '2775 SAN BRUNO AV'): Int64Index([282, 1123, 2190, 2441, 3298, 4002, 4776, 5514], dtype='int64'),
 ('665002', '1551  FRANKLIN ST'): Int64Index([2237, 10859], dtype='int64'),
 ('785029', '344 - 388 FULTON ST'): Int64Index([10466], dtype='int64'),
 ('6506034',
  '4159 24TH ST'): Int64Index([168, 857, 2021, 2814, 3539, 4292, 5009, 5918, 6756, 7624], dtype='int64'),
 ('3639028',
  '953 TREAT AV'): Int64Index([587, 1180, 1726, 2468, 3201, 4361, 4621, 13634, 15752], dtype='int64'),
 ('6349021',
  '717 PARIS ST'): Int64Index([  718,   925,  1988,  2766,  3493,  3848,  4963,  5876,  6728,
              7592,  8392,  9818, 10702, 11569, 12683, 14032],
            dtype='int64'),
 ('1071003', '2670 GEARY BLVD'): Int64Index([13510, 15159], dtype='int64'),
 ('0871004',
  '1870 MARKET ST'): Int64Index([11185, 12341, 13548, 14963], dtype='int64'),
 ('1609021', '700 36TH AV'): Int64Index([7253, 10034], dtype='int64'),
 ('5869014',
  '4199 MISSION ST'): Int64Index([670, 1279, 1824, 2579, 3289, 4444, 4581], dtype='int64'),
 ('2700056',
  '55 CASELLI AV'): Int64Index([375, 828, 2038, 2832, 3556], dtype='int64'),
 ('4273018',
  '1331 FLORIDA ST'): Int64Index([271, 1159, 1805, 2544, 3046, 3991, 4760, 5685, 6605, 7403, 8280,
             9475, 10212],
            dtype='int64'),
 ('8727005',
  '1800 - 1900 OWENS ST'): Int64Index([13214, 14434, 14946], dtype='int64'),
 ('1412030',
  '5921 CALIFORNIA ST'): Int64Index([9342, 10242, 11658, 12837, 14140, 15539], dtype='int64'),
 ('3731074', '1049 HOWARD STREET'): Int64Index([471], dtype='int64'),
 ('0520008', '1738 FILBERT ST'): Int64Index([14377, 14926], dtype='int64'),
 ('3755029', '1170 HARRISON ST'): Int64Index([14624], dtype='int64'),
 ('6539024', '929 DIAMOND ST'): Int64Index([15733], dtype='int64'),
 ('3767305',
  '429 BEALE ST'): Int64Index([  609,  1067,  1771,  2509,  3252,  4377,  4726,  5655,  6380,
              7392,  8247, 10441, 10990, 12128, 13277, 15399],
            dtype='int64'),
 ('3979001', '444 DE HARO ST'): Int64Index([5974, 7077], dtype='int64'),
 ('5379029',
  '55 WATERVILLE ST'): Int64Index([484, 1217, 2186, 2437, 3293], dtype='int64'),
 ('3502024',
  '140 DUBOCE AV'): Int64Index([8934, 9191, 10101, 11422, 12472, 13752, 14733], dtype='int64'),
 ('5858024',
  '194 SWEENY ST'): Int64Index([  311,  1030,  1919,  2687,  3430,  4027,  4909,  5816,  6676,
              7534,  8374,  9779, 10633, 11434, 12669, 13923, 14779],
            dtype='int64'),
 ('3749058', '390 01ST ST'): Int64Index([12106, 13305, 15355], dtype='int64'),
 ('2625007A',
  '70 DOUGLASS ST'): Int64Index([186, 1413, 2168, 3127, 3920, 4570, 5555, 6566, 7312, 8164, 10707,
             12636, 13830],
            dtype='int64'),
 ('5618007',
  '116 ELSIE ST'): Int64Index([9741, 10203, 11668, 12854, 14147, 14618], dtype='int64'),
 ('1797006',
  '1333 42ND AV'): Int64Index([11759, 12934, 14113, 14704], dtype='int64'),
 ('7088051',
  '382 RANDOLPH ST'): Int64Index([5285, 6245, 6947, 7899, 8572, 9242, 10592], dtype='int64'),
 ('5991001',
  '300-308 UNIVERSITY ST'): Int64Index([8942, 9289, 10906, 11251, 12400, 13625], dtype='int64'),
 ('1726015', '1273 24TH AV'): Int64Index([14025, 14676], dtype='int64'),
 ('3778004', '630-698 BRANNAN STREET'): Int64Index([13148], dtype='int64'),
 ('6571012',
  '3314 CESAR CHAVEZ ST'): Int64Index([11030, 12229, 13446, 15274], dtype='int64'),
 ('6956014',
  '33 LEO ST'): Int64Index([9338, 10234, 11676, 12963, 14061, 15265], dtype='int64'),
 ('0345017',
  '351V TURK ST & 145 LEAVENWORTH ST'): Int64Index([13318], dtype='int64'),
 ('6984011',
  '135 MIRAMAR AV'): Int64Index([9578, 10804, 11688], dtype='int64'),
 ('6935001', '1601 - 1635 OCEAN AV'): Int64Index([14879], dtype='int64'),
 ('1611001F', '3221 BALBOA ST'): Int64Index([15254], dtype='int64'),
 ('3574008',
  '2138 FOLSOM ST'): Int64Index([  359,   872,  2233,  2800,  3520,  4057,  4991,  5900,  6750,
              7615,  8456,  9798, 10063, 11525, 12680, 14052, 15028],
            dtype='int64'),
 ('2636025',
  'SAN FRANCISCO OVERLOOK'): Int64Index([9148, 10472, 10977, 12263, 13478, 15799], dtype='int64'),
 ('0069011',
  '2626 LARKIN ST'): Int64Index([  500,  1110,  2276,  2971,  4237,  5335,  5447,  6486,  8073,
              9547, 11517, 12614, 13869, 15153],
            dtype='int64'),
 ('3525083', '222 DORE ST'): Int64Index([13508, 15054], dtype='int64'),
 ('1607011D', '789 37TH AV'): Int64Index([15665], dtype='int64'),
 ('2821021',
  '1240 TWIN PEAKS BL'): Int64Index([  111,  1102,  1674,  2413,  3129,  3822,  4580,  5562,  6574,
              7316,  8172,  9728, 10751, 11128, 12647, 13826],
            dtype='int64'),
 ('3702047',
  '1125 MARKET ST'): Int64Index([5539, 6578, 7319, 8174, 9063, 9947, 11103, 12110, 13308, 14602], dtype='int64'),
 ('1154023',
  '7 SEYMOUR ST'): Int64Index([  486,  1207,  1896,  2663,  3416,  4220,  4890,  5796,  6654,
              7513,  8353,  9603, 10691, 11466, 12750, 13982],
            dtype='int64'),
 ('1227003',
  '413 SHRADER ST'): Int64Index([7126, 7993, 8809, 9556, 10839, 11829, 12989, 14328, 15378], dtype='int64'),
 ('1185026',
  '1681 FULTON ST'): Int64Index([5249, 6191, 7005, 7864, 8685, 9328, 10657, 11355], dtype='int64'),

In [243]:
group_df = gb.get_group(('829040','526 HICKORY ST'))

KeyError: ('829040', '526 HICKORY ST')

In [227]:
group_df = group_df.sort('best_date')
group_df.reset_index(drop=True, inplace=True)

/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [228]:
#group_df['firstfiled'].fillna(value='', inplace = True)

In [229]:
group_df

,address,apn,best_date,best_stat,firstfiled,report_quarter,report_year,unitsnet,dbi_permit,x,y,status
0,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15 07:00:00,1,2012,1.0,201006154512,37.761012,-122.444483,Building Permit Approved
1,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15 00:00:00,2,2012,1.0,NaN,37.761012,-122.444483,Building Permit Approved
2,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15,3,2012,1.0,2.01006E+11,-122.444483,37.761012,Building Permit Approved
3,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15,4,2012,1.0,201006154512,37.761012,-122.444483,Building Permit Approved
4,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15,1,2013,1.0,201006154512,37.761012,-122.444483,Building Permit Approved
5,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15,2,2013,1.0,201006154512,37.761012,-122.444483,Building Permit Approved
6,75 MARS ST,2653016,2012-03-08,BP ISSUED,2010-06-15,3,2013,1.0,201006154512,37.761012,-122.444483,Building Permit Approved
7,75 MARS ST,2653016,2013-10-18,BP FILED,2010-09-01,4,2013,1.0,201310189655,37.761012,-122.444483,Proposed
8,75 MARS ST,2653016,2014-03-26,BP APPROVED,2010-09-01,1,2014,1.0,201310189655,37.761012,-122.444483,Building Permit Approved
9,75 MARS ST,2653016,2014-04-23,BP ISSUED,2010-09-01,2,2014,1.0,201310189655,37.761012,-122.444483,Building Permit Approved
10,75 MARS ST,2653016,2014-04-23,BP ISSUED,2010-09-01,3,2014,1.0,201310189655,37.761012,-122.444483,Building Permit Approved
11,75 MARS ST,2653016,2014-04-23,BP ISSUED,2010-09-01,4,2014,1.0,NaN,37.761012,-122.444483,Building Permit Approved

In [231]:
#Identify earliest "firstfiled" date
firstfiled = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['firstfiled']):
        continue
    else:
        if len(firstfiled) == 0:
            firstfiled = row['firstfiled']
        else:
            continue

In [232]:
#Identify earliest best date
earliest_BD = ''
for index, row in group_df.iterrows():
    if pd.isnull(row['best_date']):
        continue
    else:
        if len(earliest_BD) == 0:
            earliest_BD = row['best_date']
        else:
            continue

In [233]:
firstfiled

'2010-06-15 07:00:00'

In [234]:
earliest_BD

'2012-03-08'

In [235]:
# Finalize first date variable (minimum of earliest best_date and firstfiled)
if pd.isnull(firstfiled) & pd.notnull(earliest_BD):
    first_date = earliest_BD
elif pd.isnull(earliest_BD) & pd.notnull(firstfiled):
    first_date = firstfiled
elif pd.notnull(firstfiled) & pd.notnull(earliest_BD):
    first_date = min(firstfiled, earliest_BD)

In [236]:
first_date

'2010-06-15 07:00:00'

In [237]:
# initiate variables. Groups without these dates are blank for these variables.
BP_date = ''
con_date = ''

#Identify first date for all status categories
m=0
for index, row in group_df.iterrows():
    if m == 0:
        status_previous = 'blah'
    if row['status']=='Building Permit Approved':
        if index == 0:
            BP_date = row['best_date']
        elif index !=0:
            if status_previous =='Building Permit Approved':
                BP_date=BP_date
            else:
                BP_date = row['best_date']
    elif row['status']=='Under Construction':
        if index == 0:
            con_date = row['best_date']
        elif index !=0:
            if status_previous =='Under Construction':
                con_date=con_date
            else:
                con_date = row['best_date']
    status_previous = row['status']
    m=m+1

In [238]:
print (BP_date, con_date)

2014-03-26

In [191]:
last_row = group_df.tail(1).copy() #most recent row

In [192]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089

In [193]:
last_row['latest_project_record_date'] = last_row.best_date
last_row['first_project_record_date'] = group_df.iloc[0].best_date
last_row['latest_project_status'] = last_row.best_stat

In [194]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,latest_project_record_date,first_project_record_date,latest_project_status
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089,2014-07-28,2013-08-08,CONSTRUCTION

In [195]:
## Store a parseable list of all the project states and the dates those states were reported
last_row['project_dates'] = str(tuple(group_df.best_date))
last_row['project_statuses'] = str(tuple(group_df.best_stat))

In [196]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,latest_project_record_date,first_project_record_date,latest_project_status,project_dates,project_statuses
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089,2014-07-28,2013-08-08,CONSTRUCTION,"('2013-08-08', '2013-08-08', '2014-02-26', '20...","('BP ISSUED', 'BP ISSUED', 'CONSTRUCTION', 'CO..."

In [197]:
## Store the project duration in days
latest = last_row.latest_project_record_date.iloc[0]
first = last_row.first_project_record_date.iloc[0]

In [198]:
if not (pd.isnull(latest) or pd.isnull(first)):
    last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

In [199]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,latest_project_record_date,first_project_record_date,latest_project_status,project_dates,project_statuses,project_duration_days
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089,2014-07-28,2013-08-08,CONSTRUCTION,"('2013-08-08', '2013-08-08', '2014-02-26', '20...","('BP ISSUED', 'BP ISSUED', 'CONSTRUCTION', 'CO...",354

# Actual Code

In [241]:
def convert_to_one_record_per_project(df):
    """
    Group the dataset by (apn, address) and then emit one row per (apn, address) pair.
    best_date and best_stat will be converted into arrays.
    All other attributes will be taken from the record with the most recent `best_date` attribute.
    """
    gb = df.groupby(['apn', 'address'])
    for k in gb.groups:
        group_df = gb.get_group(k)
        group_df = group_df.sort('best_date')
        last_row = group_df.tail(1).copy()
        
        #Identify earliest "firstfiled" date
        firstfiled = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['firstfiled']):
                continue
            else:
                if len(firstfiled) == 0:
                    firstfiled = row['firstfiled']
                else:
                    continue
        
        #Identify earliest best date
        earliest_BD = ''
        for index, row in group_df.iterrows():
            if pd.isnull(row['best_date']):
                continue
            else:
                if len(earliest_BD) == 0:
                    earliest_BD = row['best_date']
                else:
                    continue
        
        # Finalize first date variable (minimum of earliest best_date and firstfiled)
        if pd.isnull(firstfiled) & pd.notnull(earliest_BD):
            first_date = earliest_BD
        elif pd.isnull(earliest_BD) & pd.notnull(firstfiled):
            first_date = firstfiled
        elif pd.notnull(firstfiled) & pd.notnull(earliest_BD):
            first_date = min(firstfiled, earliest_BD)
            
        # initiate variables. Groups without these dates are blank for these variables.
        BP_date = ''
        con_date = ''

        #Identify first date for all status categories
        m=0
        for index, row in group_df.iterrows():
            if m == 0:
                status_previous = 'blah'
            if row['status']=='Building Permit Approved':
                if index == 0:
                    BP_date = row['best_date']
                elif index !=0:
                    if status_previous =='Building Permit Approved':
                        BP_date=BP_date
                    else:
                        BP_date = row['best_date']
            elif row['status']=='Under Construction':
                if index == 0:
                    con_date = row['best_date']
                elif index !=0:
                    if status_previous =='Under Construction':
                        con_date=con_date
                    else:
                        con_date = row['best_date']
            status_previous = row['status']
            m=m+1
        
        last_row['BP_date'] = BP_date
        last_row['con_date'] = con_date
        last_row['first_date']=first_date
        last_row['latest_project_record_date'] = last_row.best_date
        last_row['first_project_record_date'] = group_df.iloc[0].best_date
        last_row['latest_project_status'] = last_row.best_stat

        ## Store a parseable list of all the project states and the dates those states were reported
        last_row['project_dates'] = str(tuple(group_df.best_date))
        last_row['project_statuses'] = str(tuple(group_df.best_stat))

        ## Store the project duration in days
        latest = last_row.latest_project_record_date.iloc[0]
        first = last_row.first_project_record_date.iloc[0]
        if not (pd.isnull(latest) or pd.isnull(first)):
            last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

        yield last_row


def main():
    df = pd.read_csv("cleaned/all_quarters_merged_TEST.csv")
    #consolidate status categories. Start with 3 for now
    def status_function(value):
        if value['best_stat']=="CONSTRUCTION":
            field = 'Under Construction'
        elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
            field = 'Building Permit Approved'
        else:
            field = 'Proposed'
        return field

    df['status']=df.apply(status_function, axis=1)
    
    #keep only variables we want
    list = ['address', 'apn', 'best_date', 'best_stat','status', 'firstfiled', 'report_quarter', 'report_year', 'unitsnet', 'dbi_permit', 'x', 'y']
    df = df[list]
    new_df = pd.concat(convert_to_one_record_per_project(df))
    logging.info("Writing output ({} rows, {} cols) to data/cleaned/all_quarters__one_record_per_project.csv".format(*new_df.shape))
    new_df.to_csv("cleaned/all_quarters__one_record_per_project_BRIAN.csv")

In [242]:
main()

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2831: DtypeWarning: Columns (1,2,6,12,16,17,21,22,28,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,51,52,53,61,79,88,91,92,93,94,96,97,98,99,100,101,103,113,114,115,116,117,118,119,120,121,122,123,140,142,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)