# Brian Replication of data_model.py in a python notebook

In [397]:
import pandas
import logging
import dateutil
pandas.set_option('display.max_columns', 500)

In [398]:
logging.basicConfig(level=logging.INFO)

# Code Broken Down

In [399]:
df = pandas.read_csv("cleaned/all_quarters_merged_TEST.csv")

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,2,7,13,17,18,21,22,28,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,52,53,54,62,80,89,92,93,94,95,97,98,99,100,101,102,104,114,115,116,117,118,119,120,121,122,123,124,141,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [400]:
# keep only variables of interest
list = ['address', 'apn', 'best_date', 'best_stat', 'dbi_permit', 'report_quarter', 'report_year', 'unitsnet', 'x', 'y']
df = df[list]

In [401]:
#consolidate status categories. Start with 3 for now
def status_function(value):
    if value['best_stat']=="CONSTRUCTION":
        field = 'Under Construction'
    elif (value['best_stat']=='BP APPROVED') | (value['best_stat']=='BP ISSUED') | (value['best_stat']=='BP REINSTATED'):
        field = 'Building Permit Approved'
    else:
        field = 'Proposed'
    return field
        
df['status']=df.apply(status_function, axis=1)

In [402]:
df.head()

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,status
0,1179 TENNESSEE ST,4172053,2009-11-03,BP REINSTATED,9902819,1,2012,8.0,37.756751,-122.388969,Building Permit Approved
1,2026 LOMBARD ST,0492025,2007-04-11,BP ISSUED,200606023107,1,2012,0.0,37.800127,-122.434940,Building Permit Approved
2,580 OAK PARK DR,2676030,2007-11-28,BP ISSUED,200212042761,1,2012,1.0,37.756322,-122.460196,Building Permit Approved
3,2525 MISSION ST,3615026,2009-08-26,BP ISSUED,200302218059,1,2012,0.0,37.756561,-122.418695,Building Permit Approved
4,244 GRANADA AV,6942039,2008-10-09,BP ISSUED,200701051057,1,2012,1.0,37.722873,-122.456990,Building Permit Approved

In [403]:
gb = df.groupby(['apn', 'address'])

In [404]:
gb.groups

{('1141022', '672 ARGUELLO BL'): Int64Index([331, 874, 1994], dtype='int64'),
 ('2360014',
  '2120 TARAVAL ST'): Int64Index([9601, 11227, 12415, 13755, 14261], dtype='int64'),
 ('0339006',
  '130 TURK ST'): Int64Index([434, 1432, 1540, 2231, 3423, 4596, 4703, 5744, 7331, 8461, 10414,
             11568, 12784],
            dtype='int64'),
 ('3521056', '1532 HARRISON ST'): Int64Index([14090], dtype='int64'),
 ('6539024', '929 DIAMOND ST'): Int64Index([14970], dtype='int64'),
 ('3834001',
  '1000 16TH ST'): Int64Index([193, 1387, 1756, 2501, 2990, 3974, 4902, 5626, 6639, 7493], dtype='int64'),
 ('7104049', '107 LOBOS ST'): Int64Index([459, 1329], dtype='int64'),
 ('3730023',
  '1174 FOLSOM ST'): Int64Index([3934, 4868, 5594, 6616, 7474, 8370, 9218, 10276], dtype='int64'),
 ('3547027',
  '80 JULIAN AV'): Int64Index([  135,  1002,  1951,  2683,  3074,  3914,  5067,  5926,  6784,
              7623,  8491,  9840, 10445, 11562, 12794, 14907],
            dtype='int64'),
 ('0510029A',
  '2151 LOMBARD ST'): Int64Index([11178, 12405, 13667, 14270], dtype='int64'),
 ('1717048', '3225 LINCOLN WAY'): Int64Index([11250, 12407], dtype='int64'),
 ('7116043', '139 RANDOLPH ST'): Int64Index([512], dtype='int64'),
 ('0811002',
  '101 POLK ST'): Int64Index([772, 2139, 2870, 3721, 4331, 5280, 6101, 7766, 8301, 10341, 11348,
             12546],
            dtype='int64'),
 ('4167004',
  '1 TURNER TR'): Int64Index([713, 941, 1725, 2462, 3705, 3881, 4861, 5590, 6612, 7469, 8258,
             9640],
            dtype='int64'),
 ('1771041',
  '1555 & 1601 IRVING ST'): Int64Index([13660, 14103], dtype='int64'),
 ('3753122',
  '301 06TH ST'): Int64Index([7476, 8336, 9699, 10247, 11436, 12643, 14460], dtype='int64'),
 ('5260002',
  '4132 THIRD STREET'): Int64Index([4019, 4936, 5652, 6609, 7532], dtype='int64'),
 ('2451002D', '2695 45TH AV'): Int64Index([8138, 8783, 11142], dtype='int64'),
 ('3581012',
  '466 SANCHEZ ST'): Int64Index([120, 1077, 1905, 2302, 3483], dtype='int64'),
 ('2754052',
  '162 GRAND VIEW AV'): Int64Index([8856, 9214, 10612, 11704, 12952, 14129], dtype='int64'),
 ('1622025',
  '668 23RD AV'): Int64Index([6916, 8099, 8852, 9495, 10378, 12221, 13601, 14844], dtype='int64'),
 ('2114022', '1988 21ST AV'): Int64Index([11845, 13524, 14029], dtype='int64'),
 ('0278010', '1244 LARKIN ST'): Int64Index([12893, 13901], dtype='int64'),
 ('3731003',
  '226 06TH ST'): Int64Index([  595,  1146,  1706,  2466,  3053,  3935,  4869,  5595,  6617,
              7459,  8344,  9758, 10284, 11485, 12703, 14307],
            dtype='int64'),
 ('3775063', '136 SOUTH PARK'): Int64Index([8969], dtype='int64'),
 ('3704071', '935-965 MARKET ST'): Int64Index([13733, 14977], dtype='int64'),
 ('1524018A',
  '2930 ANZA ST'): Int64Index([10976, 12285, 13576, 14407], dtype='int64'),
 ('809020', '311 GROVE STREET'): Int64Index([9265], dtype='int64'),
 ('0839025',
  '335 OAK ST'): Int64Index([104, 1143, 1575, 2266, 3469], dtype='int64'),
 ('2654031',
  '31 URANUS TR'): Int64Index([ 2163,  2892,  3117,  3920,  5299,  6120,  6795,  8240,  8795,
              9886, 10712, 11966, 13079, 14474],
            dtype='int64'),
 ('4275003',
  '1330 HAMPSHIRE ST'): Int64Index([10928, 12113, 12628, 13939], dtype='int64'),
 ('0043007', '1196 COLUMBUS AV'): Int64Index([13622, 13869], dtype='int64'),
 ('0269028',
  '350 BUSH ST'): Int64Index([178, 1474, 1525, 4696, 5735, 7323, 9135, 11193, 12397, 13666,
             14545],
            dtype='int64'),
 ('0349001',
  '101 GOLDEN GATE AV'): Int64Index([101, 899, 1542, 2233, 3521, 4598, 4704, 5745], dtype='int64'),
 ('3517035',
  '1401 HOWARD STREET'): Int64Index([10145, 11201, 12465], dtype='int64'),
 ('515031', '2251 GREENWICH ST'): Int64Index([7192, 10047], dtype='int64'),
 ('1156013',
  '1660 MCALLISTER ST'): Int64Index([9619, 11224, 12455, 13757, 14143], dtype='int64'),
 ('3703012',
  '527 STEVENSON ST'): Int64Index([655, 854, 2020, 2743, 3655, 4213, 5124, 5874, 6841, 7682, 8353,
             9721, 10256],
            dtype='int64'),
 ('0073018B', '853 LOMBARD ST'): Int64Index([14932], dtype='int64'),
 ('1180015',
  '834 DIVISADERO ST'): Int64Index([6362, 7229, 8045, 11195, 12443, 13665, 14061], dtype='int64'),
 ('1253009',
  '735 CLAYTON ST'): Int64Index([3927, 5409, 6223, 7084, 7902, 8641, 9489, 11071, 11886, 13113,
             14849],
            dtype='int64'),
 ('1689013',
  '851 46TH AV'): Int64Index([10974, 12079, 13311, 14930], dtype='int64'),
 ('539032', '2231 UNION ST'): Int64Index([6764, 10116], dtype='int64'),
 ('3610032',
  '500 CAPP ST'): Int64Index([  706,   971,  1684,  2663,  3700,  4100,  5013,  5910,  6768,
              7608,  8747,  9942, 10733, 11912],
            dtype='int64'),
 ('0935024',
  '2429 CHESTNUT ST'): Int64Index([3840, 5406, 6220, 7899, 8546, 10599, 11707, 12944, 14349], dtype='int64'),
 ('0854001',
  '1600 MARKET ST'): Int64Index([170, 853, 1576, 2267, 3531, 4630, 4728], dtype='int64'),
 ('2357003A',
  '2355 28TH AV'): Int64Index([10984, 12168, 13395, 14331], dtype='int64'),
 ('3995007',
  '2092 03RD ST / 600 18TH STREET'): Int64Index([11373], dtype='int64'),
 ('2329008',
  '938 SANTIAGO ST'): Int64Index([8821, 9525, 10885, 12052, 13367, 14978], dtype='int64'),
 ('3750079',
  '633 FOLSOM ST'): Int64Index([9083, 9633, 11277, 12432, 13746, 14815], dtype='int64'),
 ('1659030',
  '764 17TH AV'): Int64Index([775, 2129, 2862, 3550, 4325, 5274, 6094, 6964], dtype='int64'),
 ('1066030',
  '680 SPRUCE ST'): Int64Index([ 2931,  3378,  4382,  5333,  6000,  6899,  7817,  8842,  9576,
             10689, 11835, 13086, 14847],
            dtype='int64'),
 ('6593022',
  '1513 - 1517 CHURCH ST'): Int64Index([13242, 14066], dtype='int64'),
 ('3211009', '248 OCEAN AV'): Int64Index([483, 1220], dtype='int64'),
 ('0300015',
  '967 SUTTER ST'): Int64Index([3924, 5375, 6218, 7897, 8609, 11085], dtype='int64'),
 ('4079020', '721 YORK ST'): Int64Index([3982], dtype='int64'),
 ('6168013',
  '67 BISHOP ST'): Int64Index([   53,  1327,  1826,  2582,  3010,  4047,  4977,  5685,  6713,
              8219,  9905, 10354, 11956, 13205],
            dtype='int64'),
 ('3954016',
  '1301 - 16TH STREET'): Int64Index([4496, 5439, 6253, 7111, 7931, 8284], dtype='int64'),
 ('3746003', '201 FOLSOM ST'): Int64Index([10170], dtype='int64'),
 ('3094055', '690 MONTEREY BL'): Int64Index([13597], dtype='int64'),
 ('8710007',
  '718 LONG BRIDGE ST'): Int64Index([4466, 5399, 6263, 7121, 7941, 8275, 9650, 11328, 12522], dtype='int64'),
 ('1895006', '1625 48TH AV'): Int64Index([478], dtype='int64'),
 ('0918002E',
  '2328 NORTH POINT ST'): Int64Index([9630, 11235, 12359, 13640, 14322], dtype='int64'),
 ('303014', '875 POST ST'): Int64Index([6434, 9764], dtype='int64'),
 ('5626013',
  '3516 FOLSOM ST'): Int64Index([4499, 5442, 6256, 7114, 7934, 8715, 9331, 10586, 11712, 12926,
             14548],
            dtype='int64'),
 ('3507041',
  '1401 MARKET ST'): Int64Index([447, 1375, 1486, 2406, 3431, 3829, 4810], dtype='int64'),
 ('4211001',
  '1100 POTRERO AV'): Int64Index([3394, 4458, 5391, 6210, 7069, 7889, 8603, 9219, 10542, 11695,
             12600, 13828],
            dtype='int64'),
 ('3725078', '981 MISSION ST - CB3P'): Int64Index([13625], dtype='int64'),
 ('1084001B',
  '1 STANYAN STREET'): Int64Index([  224,  1309,  1588,  2317,  3192,  4641,  4736,  5764,  6468,
              7363,  8440,  9798, 10394, 11544],
            dtype='int64'),
 ('0572013',
  '1458 BROADWAY'): Int64Index([8092, 8481, 10436, 11566, 12806, 13997], dtype='int64'),
 ('1710006',
  '1235 40TH AV'): Int64Index([4540, 5195, 6280, 7152, 7959, 8989, 9872, 11110, 12086], dtype='int64'),
 ('4041009',
  '650 INDIANA ST (BLDG 1 OF 2)'): Int64Index([14833], dtype='int64'),
 ('297009', '693 SUTTER ST'): Int64Index([6433, 9871], dtype='int64'),
 ('3778047',
  '610-620 BRANNAN STREET'): Int64Index([7286, 8030, 9131, 10159, 11216, 12424], dtype='int64'),
 ('3631017',
  '987 DOLORES ST'): Int64Index([7281, 8014, 8490, 10062, 11164, 12273, 13562, 15002], dtype='int64'),
 ('0498020',
  '2920 FRANKLIN ST'): Int64Index([10603, 11772, 13010, 14444], dtype='int64'),
 ('0867033',
  '445 WALLER ST'): Int64Index([  310,  1003,  1916,  2655,  3265,  4139,  5045,  5903,  7601,
              8749, 10747, 11934, 13174, 14652],
            dtype='int64'),
 ('4146019',
  '2830 22ND ST'): Int64Index([ 2183,  2921,  3343,  4372,  5324,  6141,  6891,  7640,  8651,
             10112, 10780, 11932, 13060, 14430],
            dtype='int64'),
 ('3738004', '222 BEALE ST'): Int64Index([11433], dtype='int64'),
 ('2709065',
  '21 MOUNTAIN SPRING AV'): Int64Index([4544, 5197, 6283, 7155, 7963, 9028, 10015, 11109, 12269, 13513,
             14252],
            dtype='int64'),
 ('9900048',
  'PIER 48'): Int64Index([3764, 4464, 5397, 6216, 7076, 7895, 8259, 9638, 10208], dtype='int64'),
 ('3608060', '3659 20TH ST'): Int64Index([14572], dtype='int64'),
 ('3784007',
  '510 TOWNSEND ST'): Int64Index([8144, 9145, 9611, 11174, 12435, 13742, 14715], dtype='int64'),
 ('0836007',
  '1546 - 1564 MARKET ST'): Int64Index([12574, 14098], dtype='int64'),
 ('350003', '1066 MARKET ST'): Int64Index([6442, 9170], dtype='int64'),
 ('0853021', '102-104 OCTAVIA STREET'): Int64Index([672, 1271], dtype='int64'),
 ('2822022', '23 MIDCREST WY'): Int64Index([257], dtype='int64'),
 ('3750082',
  '667 FOLSOM ST 120 HAWTHORNE ST 126 HAWTHORNE ST'): Int64Index([11332, 12526, 14843], dtype='int64'),
 ('5626014',
  '3526 FOLSOM ST'): Int64Index([5521, 6352, 7220, 8035, 9022, 9544, 11023, 12260, 13507, 14549], dtype='int64'),
 ('1842011',
  '1455 11TH AV'): Int64Index([8127, 8979, 9297, 11158, 12334, 13558, 13996], dtype='int64'),
 ('0148022', '859 VALLEJO ST'): Int64Index([12879, 14936], dtype='int64'),
 ('5613064', '2 BONVIEW ST'): Int64Index([14217], dtype='int64'),
 ('3763105',
  '645 HARRISON ST'): Int64Index([12370, 13669, 14826], dtype='int64'),
 ('0744002',
  '807 FRANKLIN ST'): Int64Index([8110, 8360, 10268, 11467, 12685, 14914], dtype='int64'),
 ('3502024',
  '140 DUBOCE AV'): Int64Index([8171, 8428, 9338, 10659, 11709, 12989, 13970], dtype='int64'),
 ('3638018',
  '3120 23RD ST'): Int64Index([305, 1051, 1920, 2664, 3488, 4101], dtype='int64'),
 ('6080027',
  '379 LISBON ST'): Int64Index([8158, 8884, 10065, 11132, 12327, 13575], dtype='int64'),
 ('3610047', '3441-3447 20TH ST'): Int64Index([14530], dtype='int64'),
 ('2823A016',
  '36 KNOLLVIEW WAY'): Int64Index([8169, 9025, 9863, 11165, 12308, 13357, 14560], dtype='int64'),
 ('5311035', '4712 - 4720 03RD ST'): Int64Index([14680], dtype='int64'),
 ('2750035',
  '311 EUREKA ST'): Int64Index([4529, 5185, 6140, 7142, 7949, 8698, 9936, 10632, 11710, 12936,
             14475],
            dtype='int64'),
 ('2768007',
  '446 DIAMOND ST'): Int64Index([74, 1249, 1648, 2393, 3031, 3815], dtype='int64'),
 ('1279048',
  '598 BELVEDERE ST'): Int64Index([  314,  1026,  1917,  2656,  3268,  4021,  5046,  5904,  6762,
              7602,  8520,  9274, 10487, 11639, 12865, 14778],
            dtype='int64'),
 ('3011047', '154 MIRALOMA DR'): Int64Index([504], dtype='int64'),
 ('0133012',
  '414 VALLEJO ST'): Int64Index([487, 1203, 1517, 2202, 3460, 4579, 4690, 5729], dtype='int64'),
 ('6655030',
  '176 RANDALL ST'): Int64Index([  256,  1204,  1854,  2613,  3217,  4083,  5000,  5704,  6724,
              8234,  8871,  9782, 10737, 12007, 13198, 14172],
            dtype='int64'),
 ('3525035', '215 - 217 DORE ST'): Int64Index([13255, 14269], dtype='int64'),
 ('3596025',
  '267 SAN CARLOS ST'): Int64Index([9426, 10849, 12025, 13426, 14395], dtype='int64'),
 ('1158037',
  '1927 GOLDEN GATE AV'): Int64Index([2932, 3386, 4383, 5334, 6001], dtype='int64'),
 ('0927036', '2225 BAY ST'): Int64Index([12270, 13548, 14294], dtype='int64'),
 ('0244001',
  '950 MASON STREET'): Int64Index([694, 1072, 1911, 2308, 3690, 4135, 5041, 5899, 7597, 10343, 11341], dtype='int64'),
 ('6793011',
  '1794 SAN JOSE AV'): Int64Index([  289,  1108,  1859,  2616,  3246,  4086,  5003,  5706,  6726,
              7569,  8692,  9821, 10574, 11786, 13041, 14182],
            dtype='int64'),
 ('3786038',
  '501 BRANNAN ST'): Int64Index([3760, 4425, 5358, 6111, 7036, 7857, 9144, 9616, 10383, 12403,
             13699, 15062],
            dtype='int64'),
 ('654001', '2429 CALIFORNIA ST'): Int64Index([6449, 9605], dtype='int64'),
 ('0629037',
  '2101 & 2155 WEBSTER ST'): Int64Index([12654, 14258], dtype='int64'),
 ('2038A018',
  '1762 12TH AV'): Int64Index([4491, 5433, 6247, 7106, 7926, 9051, 9551, 11083, 12332, 13109,
             14173],
            dtype='int64'),
 ('5297023',
  '1786 MCKINNON AV'): Int64Index([392, 806, 2106, 2825, 3542, 4302], dtype='int64'),
 ('0793009',
  '428 GROVE ST'): Int64Index([10845, 12021, 13451, 14635], dtype='int64'),
 ('0861035', '607 HAIGHT ST'): Int64Index([14800], dtype='int64'),
 ('6322008H',
  '2245 GENEVA AVENUE'): Int64Index([573, 1291, 1837, 2591, 3583, 4058], dtype='int64'),
 ('1386038', '218 27TH AV'): Int64Index([14279], dtype='int64'),
 ('3511015',
  '1532 HOWARD ST'): Int64Index([5465, 6310, 7178, 7985, 8434, 9244, 10389, 11539, 12764, 14091], dtype='int64'),
 ('1432005',
  '331 ARGUELLO BL'): Int64Index([91, 1205, 1602, 2331, 3015, 4649], dtype='int64'),
 ('3720001', 'TRANSBAY TOWER'): Int64Index([13718, 15026], dtype='int64'),
 ('1205021', '312 BAKER ST'): Int64Index([14477], dtype='int64'),
 ('5431A014', '400 PAUL AV'): Int64Index([9084], dtype='int64'),
 ('3794015',
  '101 TOWNSEND ST'): Int64Index([9082, 10128, 11238, 12414, 13759, 15043], dtype='int64'),
 ('2628032',
  '271 UPPER TER'): Int64Index([10962, 12132, 13355, 14405], dtype='int64'),
 ('5627042',
  '495 CHAPMAN ST'): Int64Index([223, 1311, 1808, 2554, 3191, 4042, 4957, 5673, 6694, 7551], dtype='int64'),
 ('3727085',
  '615 MINNA'): Int64Index([10960, 12130, 12640, 14805], dtype='int64'),
 ('3591024',
  '793 SOUTH VAN NESS AV'): Int64Index([1695, 2278, 3677, 3887, 4832, 5565, 12677, 14903], dtype='int64'),
 ('837003', '1 FRANKLIN ST'): Int64Index([6458, 9705], dtype='int64'),
 ('8704004',
  '360 BERRY ST'): Int64Index([9662, 10216, 11355, 12558, 14561], dtype='int64'),
 ('2023004',
  '1715 26TH AV'): Int64Index([9513, 10870, 12045, 13331, 14158], dtype='int64'),
 ('5610029A',
  '10 LUNDYS LN'): Int64Index([  547,   865,  2038,  2758,  3526,  4230,  5140,  5989,  6854,
              7695,  8660,  9993, 10725, 11943],
            dtype='int64'),
 ('4591C070',
  '420 INNES AV'): Int64Index([4520, 5481, 6182, 7134, 7807, 8438, 9818, 10428, 11488, 12800], dtype='int64'),
 ('1523046B',
  '5727 GEARY BL'): Int64Index([360, 871, 1687, 2773, 3296, 4244, 5153, 5991, 6859, 7630], dtype='int64'),
 ('1718046',
  '3125 LINCOLN WY'): Int64Index([8812, 9522, 10889, 12068, 13371, 14479], dtype='int64'),
 ('1154023',
  '7 SEYMOUR ST'): Int64Index([  486,  1207,  1900,  2653,  3457,  4127,  5033,  5891,  6750,
              7590,  8840,  9928, 10703, 11987, 13219],
            dtype='int64'),
 ('6208003',
  '138 ALPHA ST'): Int64Index([72, 1252, 1830, 2584, 3028, 4049, 4978, 5687, 6715, 7566], dtype='int64'),
 ('0318020',
  '651 GEARY ST'): Int64Index([689, 1124, 1535, 2204, 3686, 4592, 5455, 6360, 8043, 8367, 10271,
             11471, 12687],
            dtype='int64'),
 ('4045003',
  '2171 THIRD ST'): Int64Index([3411, 4437, 5370, 6175, 7049, 7869, 8321, 9200, 10233], dtype='int64'),
 ('0515031',
  '2251 GREENWICH ST'): Int64Index([5495, 6325, 7998, 9047, 11042, 12234, 13481, 14304], dtype='int64'),
 ('2845005',
  '70 CRESTLINE DR'): Int64Index([  315,  1025,  1657,  2398,  3069,  3821,  4802,  5798,  6559,
              7414,  8516,  9843, 10467, 11621, 12841, 14855],
            dtype='int64'),
 ('3590014',
  '3324 19TH ST'): Int64Index([6372, 7238, 8053, 8450, 9269, 10461, 11605, 12822, 14512], dtype='int64'),
 ('0529002',
  '2727 GOUGH ST'): Int64Index([  313,  1027,  1894,  2648,  3267,  4122,  5029,  5866,  7558,
              8781, 10721, 11989, 13221, 14410],
            dtype='int64'),
 ('3546026', '449 14TH ST'): Int64Index([12753, 14657], dtype='int64'),
 ('300015', '967 SUTTER ST'): Int64Index([7078, 10045], dtype='int64'),
 ('0192014', 'CHINESE HOSPITAL'): Int64Index([13650, 15007], dtype='int64'),
 ('0443A017',
  '1767 BEACH ST'): Int64Index([9468, 10858, 11913, 13393, 14174], dtype='int64'),
 ('4211011',
  '1152 POTRERO AV'): Int64Index([9341, 10584, 11807, 13032, 13853], dtype='int64'),
 ('2805036',
  '4267 23RD ST'): Int64Index([  370,   838,  2070,  2794,  3302,  4261,  5171,  6027,  6873,
              7714,  8789,  9572, 10344, 11894, 13237, 14632],
            dtype='int64'),
 ('5744001', '650 ANDOVER ST'): Int64Index([13641, 14831], dtype='int64'),
 ('867033', '445 WALLER ST'): Int64Index([6761, 9386], dtype='int64'),
 ('3995015', '603 TENNESSEE ST'): Int64Index([12742, 14795], dtype='int64'),
 ('4790005', '1824 JENNINGS ST'): Int64Index([13137, 14193], dtype='int64'),
 ('4040025',
  '333 PENNSYLVANIA AV'): Int64Index([3130, 4435, 5368, 6173, 7047, 7867, 9880, 10609, 11731, 12924,
             14515],
            dtype='int64'),
 ('0857001',
  '55 LAGUNA STREET'): Int64Index([568, 1330, 1578, 2269, 3579, 4632, 7357, 8309, 10178, 11308], dtype='int64'),
 ('3727049', '630 NATOMA STREET'): Int64Index([11698], dtype='int64'),
 ('4022001',
  '2070 BRYANT ST'): Int64Index([7288, 8116, 8285, 9183, 10191, 11327, 12521, 14243], dtype='int64'),
 ('6308005D',
  '549 VISITACION AV'): Int64Index([11828, 13159, 14740], dtype='int64'),
 ('0944030',
  '2582 FILBERT ST'): Int64Index([5498, 6328, 8001, 8993, 11041, 12229, 13479, 14376], dtype='int64'),
 ('1222043',
  '1535 OAK ST'): Int64Index([3913, 5408, 6222, 7083, 7901, 8951, 9999, 11084], dtype='int64'),
 ('0187036',
  '1355 JACKSON ST'): Int64Index([12033, 13472, 13957], dtype='int64'),
 ('1809028',
  '3945 JUDAH ST'): Int64Index([8509, 9153, 10464, 11615, 12835, 14599], dtype='int64'),
 ('0095024',
  '1281 GREENWICH ST'): Int64Index([11236, 12360, 13636, 13918], dtype='int64'),
 ('0343001', '57 TAYLOR'): Int64Index([12651, 14761], dtype='int64'),
 ('1939001', '401 13TH TI ST'): Int64Index([14047], dtype='int64'),
 ('6706027', '729 CONGO ST'): Int64Index([517, 1015, 1959], dtype='int64'),
 ('5701011',
  '462 PRENTISS ST'): Int64Index([9445, 10852, 11691, 13430, 14052], dtype='int64'),
 ('3727004', '150 07TH ST'): Int64Index([667, 1288], dtype='int64'),
 ('4316002',
  '1100 CESAR CHAVEZ ST'): Int64Index([13682, 13825], dtype='int64'),
 ('3746001',
  '201 FOLSOM ST'): Int64Index([1720, 2457, 2967, 3876, 4856, 5585, 6578, 7464, 8260, 9643, 11292,
             12488, 14228],
            dtype='int64'),
 ('3727091',
  '1125 MISSION ST'): Int64Index([9599, 11221, 12419, 13752, 13840], dtype='int64'),
 ('1456023',
  '6044 GEARY BLVD'): Int64Index([8168, 8647, 9316, 10521, 11696, 12905, 14796], dtype='int64'),
 ('0913011', '2028 BEACH ST'): Int64Index([3926, 5405, 6205], dtype='int64'),
 ('250001', '1401 CALIFORNIA ST'): Int64Index([7226, 10168], dtype='int64'),
 ('2804041',
  '4141 23RD ST'): Int64Index([  388,   810,  1936,  2806,  3541,  4271,  5222,  5875,  6882,
              7722,  8792,  9932, 10758, 11901, 13240],
            dtype='int64'),
 ('5395042',
  '53 LEDYARD ST'): Int64Index([11988, 13528, 14726], dtype='int64'),
 ('4044013',
  '777 TENNESSEE STREET'): Int64Index([3763, 4436, 5369, 6174, 7048, 7868, 8357, 9208, 10262, 11458], dtype='int64'),
 ('2933007',
  '127 EDGEHILL WY'): Int64Index([7279, 8024, 9004, 9547, 11167, 12214, 13600, 13911], dtype='int64'),
 ('6374028', '463 SUNRISE WY'): Int64Index([13147, 14669], dtype='int64'),
 ('2651008', '2808 MARKET ST'): Int64Index([5463], dtype='int64'),
 ('0151029',
  '81 GLOVER ST'): Int64Index([3392, 4417, 5350, 6165, 7851, 8866, 10718, 11857, 13130, 14915], dtype='int64'),
 ('0181013',
  '1044 JACKSON ST'): Int64Index([8624, 10899, 12342, 13381, 13806], dtype='int64'),
 ('4013007',
  '526 UTAH ST'): Int64Index([  762,  2133,  2865,  3109,  4327,  5276,  6097,  6966,  7763,
              8767,  9837, 10361, 11948, 12605, 14724],
            dtype='int64'),
 ('1067009',

In [405]:
group_df = gb.get_group(('3610032','500 CAPP ST'))

In [406]:
group_df = group_df.sort('best_date')
group_df.reset_index(drop=True, inplace=True)

/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [408]:
group_df

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,status
0,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,1,2012,1.0,37.758562,-122.418186,Proposed
1,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,2,2012,1.0,37.758562,-122.418186,Proposed
2,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,4,2012,1.0,37.758562,-122.418186,Proposed
3,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,1,2013,1.0,37.758562,-122.418186,Proposed
4,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,2,2013,1.0,37.758562,-122.418186,Proposed
5,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,3,2013,1.0,37.758562,-122.418186,Proposed
6,500 CAPP ST,3610032,2009-08-14,PL FILED,NaN,4,2013,1.0,37.758562,-122.418186,Proposed
7,500 CAPP ST,3610032,2009-08-14,PL FILED,201007015845,1,2014,1.0,37.758562,-122.418186,Proposed
8,500 CAPP ST,3610032,2012-02-17,BP ISSUED,201007015845,2,2014,1.0,37.758562,-122.418186,Building Permit Approved
9,500 CAPP ST,3610032,2012-02-17,BP ISSUED,201007015845,3,2014,1.0,37.758562,-122.418186,Building Permit Approved
10,500 CAPP ST,3610032,2015-04-01,CONSTRUCTION,NaN,4,2014,1.0,37.758562,-122.418186,Under Construction
11,500 CAPP ST,3610032,2015-05-27,CONSTRUCTION,NaN,1,2015,1.0,37.758562,-122.418186,Under Construction
12,500 CAPP ST,3610032,2015-07-30,CONSTRUCTION,NaN,2,2015,1.0,37.758562,-122.418186,Under Construction
13,500 CAPP ST,3610032,2015-09-29,CONSTRUCTION,NaN,3,2015,1.0,37.758562,-122.418186,Under Construction

In [410]:
#Identify first date for all status categories
m=0
for index, row in group_df.iterrows():
    if m == 0:
        status_previous = 'blah'
    if row['status']== 'Proposed':
        if index == 0:
            proposed_date = row['best_date']
        elif index !=0:
            if status_previous =='Proposed':
                proposed_date = proposed_date
            else:
                proposed_date = row['best_date']
    elif row['status']=='Building Permit Approved':
        if index == 0:
            BP_date = row['best_date']
        elif index !=0:
            if status_previous =='Building Permit Approved':
                BP_date=BP_date
            else:
                BP_date = row['best_date']
    elif row['status']=='Under Construction':
        if index == 0:
            con_date = row['best_date']
        elif index !=0:
            if status_previous =='Under Construction':
                con_date=con_date
            else:
                con_date = row['best_date']
    status_previous = row['status']
    m=m+1

In [411]:
print (proposed_date, BP_date, con_date)

2009-08-14 2012-02-17 2015-04-01

In [191]:
last_row = group_df.tail(1).copy() #most recent row

In [192]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089

In [193]:
last_row['latest_project_record_date'] = last_row.best_date
last_row['first_project_record_date'] = group_df.iloc[0].best_date
last_row['latest_project_status'] = last_row.best_stat

In [194]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,latest_project_record_date,first_project_record_date,latest_project_status
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089,2014-07-28,2013-08-08,CONSTRUCTION

In [195]:
## Store a parseable list of all the project states and the dates those states were reported
last_row['project_dates'] = str(tuple(group_df.best_date))
last_row['project_statuses'] = str(tuple(group_df.best_stat))

In [196]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,latest_project_record_date,first_project_record_date,latest_project_status,project_dates,project_statuses
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089,2014-07-28,2013-08-08,CONSTRUCTION,"('2013-08-08', '2013-08-08', '2014-02-26', '20...","('BP ISSUED', 'BP ISSUED', 'CONSTRUCTION', 'CO..."

In [197]:
## Store the project duration in days
latest = last_row.latest_project_record_date.iloc[0]
first = last_row.first_project_record_date.iloc[0]

In [198]:
if not (pandas.isnull(latest) or pandas.isnull(first)):
    last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

In [199]:
last_row

,address,apn,best_date,best_stat,dbi_permit,report_quarter,report_year,unitsnet,x,y,latest_project_record_date,first_project_record_date,latest_project_status,project_dates,project_statuses,project_duration_days
7532,4132 THIRD STREET,5260002,2014-07-28,CONSTRUCTION,200707055953,3,2014,7.0,37.740114,-122.389089,2014-07-28,2013-08-08,CONSTRUCTION,"('2013-08-08', '2013-08-08', '2014-02-26', '20...","('BP ISSUED', 'BP ISSUED', 'CONSTRUCTION', 'CO...",354

In [200]:
list = ['1', '2', '3', '4']

def test_yield(list): 
    for l in list:
        yield l

In [201]:
list2=[]
for e in test_yield(list):
    list2.append(e)
    print(e)
list2

1
2
3
4

['1', '2', '3', '4']

# Actual Code

In [202]:
def convert_to_one_record_per_project(df):
    """
    Group the dataset by (apn, address) and then emit one row per (apn, address) pair.
    best_date and best_stat will be converted into arrays.
    All other attributes will be taken from the record with the most recent `best_date` attribute.
    """
    gb = df.groupby(['apn', 'address'])
    for k in gb.groups:
        group_df = gb.get_group(k)
        group_df = group_df.sort('best_date')
        last_row = group_df.tail(1).copy()

        last_row['latest_project_record_date'] = last_row.best_date
        last_row['first_project_record_date'] = group_df.iloc[0].best_date
        last_row['latest_project_status'] = last_row.best_stat

        ## Store a parseable list of all the project states and the dates those states were reported
        last_row['project_dates'] = str(tuple(group_df.best_date))
        last_row['project_statuses'] = str(tuple(group_df.best_stat))

        ## Store the project duration in days
        latest = last_row.latest_project_record_date.iloc[0]
        first = last_row.first_project_record_date.iloc[0]
        if not (pandas.isnull(latest) or pandas.isnull(first)):
            last_row['project_duration_days'] = (dateutil.parser.parse(latest) - dateutil.parser.parse(first)).days

        yield last_row


def main():
    df = pandas.read_csv("cleaned/all_quarters_merged_TEST.csv")
    #keep only variables we want
    list = ['address', 'apn', 'best_date', 'best_stat', 'dbi_permit', 'report_quarter', 'report_year', 'unitsnet', 'x', 'y']
    df = df[list]
    new_df = pandas.concat(convert_to_one_record_per_project(df))
    logging.info("Writing output ({} rows, {} cols) to data/cleaned/all_quarters__one_record_per_project.csv".format(*new_df.shape))
    new_df.to_csv("cleaned/all_quarters__one_record_per_project_BRIAN.csv")

In [203]:
main()

/Users/briangoggin/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2831: DtypeWarning: Columns (1,2,7,13,17,18,21,22,28,29,30,31,32,33,35,36,37,38,39,40,41,42,43,44,45,46,47,49,50,51,53,54,55,63,81,90,93,94,95,96,98,99,100,101,102,103,105,115,116,117,118,119,120,121,122,123,124,125,142,144,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/briangoggin/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:10: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)